{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block references %}
<link href="{% static "css/schedule.css" %}" rel="stylesheet">
<link href="{% static "css/attendance.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h2>{{ trainee }}'s Schedule</h2><br>
<div id="leaveslip-alert" class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
<div id="react"></div>

<div id="clndr">
</div>

<script>
  var events = [
  {% for event in schedule.events.all %}
  {
    id: "{{ event.id }}",
    date: "{{ event.start | date:'Y-m-d'}}",
    start: "{{ event.start | date:'r' }}",
    end: "{{ event.end | date:'r' }}",
    name: "{{ event.name }}",
    code: "{{ event.code }}",
    type: "{{ event.type }}",
    slips: [],
    status: "",
  },{% endfor %}
  ]

  {% for roll in attendance %}
  var e = _.findWhere(events, {id: "{{ roll.event.id }}" });
  e.roll = "{{ roll.get_status_display|slugify }}";
  e.roll_id = "{{ roll.id }}";
  {% endfor %}

  {% for slip in leaveslips %}
  {% for event in slip.events.all %}
  var event = _.findWhere(events, {id: "{{ event.id }}" })
  event.slips.push({{slip.id}})
  if(event.status != "approved") {
    event.status = "{{ slip.get_status_display | slugify }}"
  }
  {% endfor %}
  {% endfor %}

</script>

<script type="text/javascript" src="{% static "js/react/attendance/calendar.js" %}"></script>


<!-- SCHEDULE TEMPLATE -->
<script type="text/template" id="clndr-template">
  <input type="hidden" id="id_trainee" name="trainee" value="{{ trainee.id }}">
  <input type="hidden" id="id_TA" name="TA" value="{{ trainee.TA.id }}">


  <div class="btn-toolbar" role="toolbar">
    <div class="controls btn-group">
      <button class="btn btn-info"><span class="glyphicon glyphicon-calendar"></span></button>
    </div>
    <div class="controls btn-group">
      <button class="btn btn-default clndr-previous-button">Prev</button>
      <div class="daterange btn btn-default disabled">
        <%= extras.currentWeek.startOf('week').format('M/D/YY') %> to <%= extras.currentWeek.endOf('week').format('M/D/YY') %>
      </div>
      <button class="btn btn-default clndr-next-button">Next</button>
    </div>
  </div>

  <hr>

  <!-- DAY/DATE BAR -->
  <div class="row">
    <div class="col-md-1">
    </div>
    <% for(var i = extras.currentWeek.startOf('week').clone(); i.isBefore(extras.currentWeek.endOf('week')); i.add('d', 1)) { %>
      <% var day = _.findWhere(days, {day: i.date()}) %>
      <div class=" col-md-1">
        <div class="schedule-header <%= day.classes %>"  id="<%= day.id %>">
          <%= day.date.format("ddd") %> <br />
          <%= day.date.format("M/D") %>
        </div>
      </div>
      <% } %>
      <div class="col-md-4">

      </div>
    </div>

    <div class="row">

      <!-- TIMEBAR -->
      <div class="col-md-1 timebar">
        <% for(var i = 6; i < 24; i++) { %>
          <div class="hour"><%= moment({hour: i}).format("h A") %></div>
          <% } %>
        </div>

        <!-- EVENTS -->
        <% for(var i = extras.currentWeek.startOf('week').clone(); i.isBefore(extras.currentWeek.endOf('week')); i.add('d', 1)) { %>
          <% var day = _.findWhere(days, {day: i.date()}) %>
          <div class="<%= day.classes %> col-md-1">
            <% _.each(day.events, function(event) { %>
              <div class="schedule-event <%= event.roll %> <%= event.status %>"
               style="top: <%= moment.duration(moment(event.start).format('H:m')).subtract(6, 'hours').asMinutes()/2 %>px;
               height: <%= moment(event.end).diff(moment(event.start), 'minutes')/2 %>px "
               data-id=<%= event.id %> data-roll=<%= event.roll_id %> >
               <%= event.code %>
             </div>
             <% }); %>
          </div>
          <% } %>

          <div class="col-md-4">
            <!-- SUBMIT ROLL -->
            <div class="panel panel-default" id="submit-roll">
              <div class="panel-heading">
                <h3 class="panel-title" id="event-title">Submit Roll</h3>
              </div>
              <div class="panel-body" id="event-info">
                <button id="present" type="button" class="btn btn-default btn-block">Present</button>
                <button id="absent" type="button" class="btn btn-danger btn-block">Absent</button>
                <button id="tardy" type="button" class="btn btn-warning btn-block">Tardy</button>
                <button id="uniform" type="button" class="btn btn-warning btn-block">Uniform</button>
                <button id="left-class" type="button" class="btn btn-warning btn-block">Left Class</button>
              </div>
            </div>

            <!-- SUBMIT A LEAVE SLIP -->
            <div class="panel panel-default" id="submit-leaveslip">
              <div class="panel-heading">
                <h3 class="panel-title" id="event-title">Submit Leave Slip</h3>
              </div>
              <div class="panel-body" id="event-info">
                <form id="leaveslip-form">{% csrf_token %}
                  {% bootstrap_form leaveslipform %}
                  <input type="hidden" id="id_leaveslip" name="leaveslip" value="">

                  {% buttons %}
                  <button type="submit" value="creating" class="btn btn-primary">
                    Submit
                  </button>
                  {% endbuttons %}
                </form>
              </div>
            </div>
          </div>       
        </div>

      </script>

      <script type="text/javascript" src="{% static "js/clndr-week.js" %}"></script>

      <script type="text/javascript">
        clndr.options.constraints = {
          startDate: "{{ schedule.term.start | date:'Y-m-d' }}",
          endDate: "{{ schedule.term.end | date:'Y-m-d' }}"
        };

        var events = [
        {% for event in schedule.events.all %}
        {
          id: "{{ event.id }}",
          date: "{{ event.start | date:'Y-m-d'}}",
          start: "{{ event.start | date:'r' }}",
          end: "{{ event.end | date:'r' }}",
          name: "{{ event.name }}",
          code: "{{ event.code }}",
          type: "{{ event.type }}",
          slips: [],
          status: "",
        },{% endfor %}
        {}]

        {% for roll in attendance %}
        var e = _.findWhere(events, {id: "{{ roll.event.id }}" });
        e.roll = "{{ roll.get_status_display|slugify }}";
        e.roll_id = "{{ roll.id }}";
        {% endfor %}

        {% for slip in leaveslips %}
        {% for event in slip.events.all %}
        var event = _.findWhere(events, {id: "{{ event.id }}" })
        event.slips.push({{slip.id}})
        if(event.status != "approved") {
          event.status = "{{ slip.get_status_display | slugify }}"
        }
        {% endfor %}
        {% endfor %}

        clndr.addEvents(events);

        $( document ).ready(function() {
          var api_base = '/api';
          var selected_events = [];
          var selected_rolls = [];
          var base_url = window.location.protocol + '//' + window.location.host;
          var form = $("#submit-leaveslip form");
          var form_heading = $("#submit-leaveslip .panel-heading .panel-title");
          var message_box = $("#leaveslip-alert.alert");

          $("#id_events").parent().remove();

            /**
            * Resets the form.
            */
            function resetForm() {
              form[0].reset();
              form_heading.text("Submit a leave slip");
            }

            function getValues(object) {
              var values = [];
              object.each(function() {
                values[values.length] = $(this).attr('value');
              })
              return values;
            }

            /**
             * Calls the leaveslips API to make changes
             * @param {JSON} form_data
             * @param {string} request_type - PUT, POST, DELETE
             * @param {string} message (verb) to be displayed to the user
             * @param {int} slip_id
             * @return {bool} success
             */
             function sendAttendance(form_data, request_type, message, slip_id) {
              var data = JSON.stringify(form_data);
              var form_heading = $("#submit-leaveslip .panel-heading .panel-title");

              response = $.ajax({
                url: base_url + api_base + '/individualslip/' + slip_id,
                type: request_type,
                contentType: 'application/json',
                data: data,
                dataType: 'json',
                processData: false,
                complete: function(xhr, textStatus) {
                  if(xhr.status == 201 || xhr.status == 200 || xhr.status == 204) {
                    resetForm();
                    message_box.append('Success ' + message + ' leave slip.');
                    console.log('Phi 1:20 - According to my earnest expectation and hope that in nothing I will be put to shame, but with all boldness, as always, even now Christ will be magnified in my body, whether through life or through death.');
                            // clndr.render(); // or something like this (this doesn't work) to re-render the events
                          } else {
                            message_box.append('Error ' + message + ' leave slip.');
                          }
                          message_box.show();
                        }
                      });

console.log(response);
}

            /**
             * Reading from the leaveslips API (GET)
             * @param {int} event id
             * @param {bool} is the leaveslip approved
             * @return {json} leaveslip object
             */
             function getLeaveslip(event_id, is_approved) {
              var slip = [];
              $.ajax({
                url: base_url + api_base + '/individualslip/?format=json&event-id=' + event_id,
                type: 'GET',
                contentType: 'application/json',
                processData: false,
                success: function(data) {
                  populateSlipForm(data['objects'][0], is_approved);
                },      
              });
            }

            /**
            * Little button helper function which adds update/delete buttons are restores original submit.
            * @param {bool} add_update
            */
            function setButtons(form_button, add_update) {
              if(add_update) {
                form_button.val('updating');
                form_button.text('Update');
                form_button.before($('<button type="submit" value="deleting" class="btn btn-danger">Delete</button>'))
              } else {
                form.find('button').remove();
                form.append('<button type="submit" class="btn btn-primary">Submit</button>');
              }
            }

            /**
             * Callback to the getLeaveslip ajax call; populates form and resets buttons as necessary
             * @param {array} leaveslip
             * @param {bool} is the leaveslip approved
             */  
             function populateSlipForm(slip, is_approved) {
              if(typeof slip !== 'undefined') {
                console.log(slip);

                form_heading.text("Submitted on " + slip['submitted']);
                form.find("#id_leaveslip").val(slip['id']);
                form.find("select#id_type").val(slip['type']);
                form.find("textarea#id_comments").val(slip['comments']);
                form.find("textarea#id_description").val(slip['description']);
                form.find("input#id_trainee").val(slip['trainee']);
                form.find("input#id_TA").val(slip['TA']);

                if(slip['informed'] == true) {
                  form.find("input#id_informed").prop('checked', true);
                }
                if(slip['texted'] == true) {
                  form.find("input#id_texted").prop('checked', true);
                }

                var form_button = form.find("button");
                if(is_approved) {
                  form_button.hide();
                } else {
                  if(form_button.size() == 1) setButtons(form_button, true);
                }
              } else {
                resetForm();
                setButtons(form_button, false);
              }
            }

            /**
            * @param {integer array} event ids
            * @return {string array} prepared array for the api
            */
            function prepareEvents(events_array) {
              prepared_events = [];

              for(var i = 0; i < events_array.length; i++) {
                prepared_events[i] = api_base + '/event/' + events_array[i] + '/';
              }

              return prepared_events;
            }

            /**
             * Calls the roll API - called immediately after clicking roll button
             * @param {integer array} event ids
             * @param {string} status 
             */
             function sendRoll(event_ids, status, roll_ids) {

              if(event_ids.length == 0) { return false; }

              var trainee = $("input#id_trainee").val();
              var data = {
                'objects': []
              }

                // Note: this is assuming trainee is taking self-attendance (ie, trainee = monitor)
                for (var i = 0; i < event_ids.length; i++) {
                  data['objects'].push({
                    'resource_uri': api_base + '/roll/' + roll_ids[i] + '/',
                    'status': status,
                    'trainee': (!isNaN(parseInt(trainee))) ? api_base + '/trainee/' + parseInt(trainee) + '/' : trainee,
                    'event': api_base + '/event/' + event_ids[i] + '/',
                    'monitor': (!isNaN(parseInt(trainee))) ? api_base + '/trainee/' + parseInt(trainee) + '/' : trainee,
                  });
                };

                data = JSON.stringify(data);

                response = $.ajax({
                  url: base_url + api_base + '/roll/',
                  type: 'PATCH',
                  contentType: 'application/json',
                  data: data,
                  dataType: 'json',
                  processData: false,
                  complete: function(xhr, textStatus) {
                    if(xhr.status == 201 || xhr.status == 200 || xhr.status == 204) {
                      console.log(xhr.status);
                    }                      
                  }
                });

                console.log(response);
              }

            /**
            * Handles all form requests - creating, updating, deleting.
            */
            form.submit(function(event) {

              var trainee = $("input#id_trainee").val();
              var TA = $("input#id_TA").val();
              var slip_id = parseInt(form.find("input#id_leaveslip").val());
              var active_button = form.context.activeElement.value;

              if(active_button == 'deleting') {
                sendAttendance({}, 'DELETE', 'deleting', slip_id);

              } else {

                form_data = {
                  'comments': form.find("textarea#id_comments").val(),
                  'description': form.find("textarea#id_description").val(), 
                  'informed': form.find("input#id_informed").is(":checked"), 
                  'texted': form.find("input#id_texted").is(":checked"),
                  'type': form.find("select#id_type").val(),
                  'events': prepareEvents(selected_events),
                  'trainee': (!isNaN(parseInt(trainee))) ? api_base + '/trainee/' + parseInt(trainee) + '/' : trainee,
                  'TA': (!isNaN(parseInt(TA))) ? api_base + '/TA/' + parseInt(TA) + '/' : TA,
                };

                if(active_button == 'updating') {
                  sendAttendance(form_data, 'PUT', 'updating', slip_id);
                } else {
                  sendAttendance(form_data, 'POST', 'submitting', '');
                }
              }
              return false;
            });

$("#clndr").on("click", ".schedule-event", function() {
  $(this).toggleClass("selected-event");

                // display the leaveslip for that event, if any
                var event_id = $(this).data("id");

                selected_events.push(event_id);
                selected_rolls.push($(this).data("roll") ? $(this).data("roll") : 0);

                // if pending, display the details and allow update or delete
                if($("div.schedule-event").hasClass("pending")) {
                  getLeaveslip(event_id, false);
                } else {
                    // if approved, just display the details
                    if($("div.schedule-event").hasClass("approved")) {
                      getLeaveslip(event_id, true);
                    }
                  }
                });

$("#clndr").on("click", "#submit-roll button", function () {
  var status = $(this).attr('id');

  $(".selected-event").each(function() {
    $(this).removeClass("present absent tardy uniform left-class selected-event");
    $(this).addClass(status);
  });

  sendRoll(selected_events, (status.charAt(0)).toUpperCase(), selected_rolls);
});

});

</script>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static "js/underscore-min.js" %}"></script>
<script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/clndr.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/react/react-with-addons.js" %}"></script>

{% endblock %}
