{% extends "base.html" %}
{% load staticfiles %}

{% block references %}
    <link href="{% static "css/schedule.css" %}" rel="stylesheet">
    <link href="{% static "css/attendance.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h2>{{ trainee }}'s Schedule</h2><br>
    <div id="clndr">
    </div>

    <!-- SCHEDULE TEMPLATE -->
    <script type="text/template" id="clndr-template">
        <div class="btn-toolbar" role="toolbar">
            <div class="controls btn-group">
                <button class="btn btn-info"><span class="glyphicon glyphicon-calendar"></span></button>
            </div>
            <div class="controls btn-group">
                <button class="btn btn-default clndr-previous-button">Prev</button>
                <div class="daterange btn btn-default disabled">
                    <%= extras.currentWeek.startOf('week').format('M/D/YY') %> to <%= extras.currentWeek.endOf('week').format('M/D/YY') %>
                </div>
                <button class="btn btn-default clndr-next-button">Next</button>
            </div>
        </div>

        <hr>

        <!-- DAY/DATE BAR -->
        <div class="row">
            <div class="col-md-1">
            </div>
            <% for(var i = extras.currentWeek.startOf('week').clone(); i.isBefore(extras.currentWeek.endOf('week')); i.add('d', 1)) { %>
                <% var day = _.findWhere(days, {day: i.date()}) %>
                <div class=" col-md-1">
                    <div class="schedule-header <%= day.classes %>"  id="<%= day.id %>">
                        <%= day.date.format("ddd") %> <br>
                        <%= day.date.format("M/D") %>
                    </div>
                </div>
            <% } %>
            <div class="col-md-4">

            </div>
        </div>

        <div class="row">

            <!-- TIMEBAR -->
            <div class="col-md-1 timebar">
                <% for(var i = 6; i < 24; i++) { %>
                    <div class="hour"><%= moment({hour: i}).format("h A") %></div>
                <% } %>
            </div>

            <!-- EVENTS -->
            <% for(var i = extras.currentWeek.startOf('week').clone(); i.isBefore(extras.currentWeek.endOf('week')); i.add('d', 1)) { %>
                <% var day = _.findWhere(days, {day: i.date()}) %>
                <div class="<%= day.classes %> col-md-1">
                    <% _.each(day.events, function(event) { %>
                        <div class="schedule-event <%= event.roll %> <%= event.leaveslip %>"
                             style="top: <%= moment.duration(moment(event.start).format('H:m')).subtract(6, 'hours').asMinutes()/2 %>px;
                                    height: <%= moment(event.end).diff(moment(event.start), 'minutes')/2 %>px "
                            data-id=<%= event.id %> >
                            <%= event.code %>
                        </div>
                    <% }); %>
                </div>
            <% } %>

            <!-- SUBMIT ROLL -->
            <div class="col-md-4" id="submit-roll">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title" id="event-title">Submit Roll</h3>
                  </div>
                  <div class="panel-body" id="event-info">
                        <button id="present" type="button" class="btn btn-default btn-block">Present</button>
                        <button id="absent" type="button" class="btn btn-danger btn-block">Absent</button>
                        <button id="tardy" type="button" class="btn btn-warning btn-block">Tardy</button>
                        <button id="uniform" type="button" class="btn btn-warning btn-block">Uniform</button>
                        <button id="left-class" type="button" class="btn btn-warning btn-block">Left Class</button>
                  </div>
                </div>
            </div>

        </div>

    </script>

    <script type="text/javascript" src="{% static "js/clndr-week.js" %}"></script>

    <script type="text/javascript">
        clndr.options.constraints = {
            startDate: "{{ schedule.term.start | date:'Y-m-d' }}",
            endDate: "{{ schedule.term.end | date:'Y-m-d' }}"
        };

        var events = [
            {% for event in schedule.events.all %}
                {
                    id: "{{ event.id }}",
                    date: "{{ event.start | date:'Y-m-d'}}",
                    start: "{{ event.start | date:'r' }}",
                    end: "{{ event.end | date:'r' }}",
                    name: "{{ event.name }}",
                    code: "{{ event.code }}",
                    type: "{{ event.type }}",
                    leaveslip: "{% for slip in event.leaveslip.all %}{{slip.get_status_display|slugify|add:' '}}{% endfor %}",
                },{% endfor %}
                {}]

        {% for roll in attendance %}
            _.findWhere(events, {id: "{{ roll.event.id }}" }).roll = "{{ roll.get_status_display|slugify }}";
        {% endfor %}

        clndr.addEvents(events);

        $( document ).ready(function() {
            $("#clndr").on("click", ".schedule-event", function() {
                $(this).toggleClass("selected-event")
            });

            $("#submit-roll").on("click", "button", function () {
                var status = $(this).attr('id')
                var selected_events = []
                $(".selected-event").each(function() {
                    $(this).removeClass("present absent tardy uniform left-class selected-event")
                    $(this).addClass(status)
                    selected_events.push($(this).data("id"))
                });
                console.log(selected_events)  // call API using these event IDs
            });

        });
    </script>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "js/underscore-min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/clndr.min.js" %}"></script>
{% endblock %}
