{% extends "base.html" %}

{% block title %}Life Study{% endblock %}

{% block content %}

    <h3>Assign Discipline</h3> 
       
    <b>Period {{period}}: {{start_date}} to {{end_date}}</b>

    {% for trainee, num_summary in outstanding_trainees.items %}
            <li>
                <b>{{trainee}}</b>, Number of Summary Assigning: <b>{{num_summary}}</b>
                <ul>
                    {% for roll in trainee.rolls.all %}
                        {% if roll.event.date >= start_date and roll.event.date <= end_date %}
                            <li>{{roll.event}} | {{roll.event.date | date:'m/d/y'}} | {{roll.status}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
    {% endfor %}

    <form action="{% url 'discipline-list' %}" method="post">
        {% csrf_token %}
        <button type="submit" name="attendance_assign" class="btn btn-success">Assign Summary</button>
    </form>


{% endblock %}
