{% extends "base.html" %}

{% block title %}Life Study{% endblock %}

{% block content %}

    <h3>Assign Discipline</h3> 
    
    <form action="" method="post">   
        {% csrf_token %}
        <div class="col-md-4">
            <select name="period" class="form-control">
                <option value="1">Period 1</option>
                <option value="2">Period 2</option>
                <option value="3">Period 3</option>
                <option value="4">Period 4</option>
                <option value="5">Period 5</option>
                <option value="6">Period 6</option>
                <option value="7">Period 7</option>
                <option value="8">Period 8</option>
                <option value="9">Period 9</option>
                <option value="10">Period 10</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Select</button>
    </form>

    <b>Period {{period}}</b>: {{start_date}} to {{end_date}}

    {% for trainee, num_summary in outstanding_trainees.items %}
            <li>
                <b>{{trainee}}</b>, number of life-study assigning: <b>{{num_summary}}</b>
                <ul>
                    {% for roll in trainee.rolls.all %}
                        {% if roll.event.date >= start_date and roll.event.date <= end_date %}
                            <li>{{roll.event}} | {{roll.event.date | date:'m/d/y'}} | {{roll.status}}</li>
                        {% endif %}
                    {% endfor %}    
                </ul>
            </li>
    {% endfor %}

    <form action="{% url 'discipline-list' %}" method="post">
        {% csrf_token %}
        <button type="submit" name="attendance_assign" value="{{period}}" class="btn btn-success">Assign</button>
    </form>


{% endblock %}
