{% extends "lifestudies/base_lifestudies.html" %}

{% block tab2 %} class="active" {% endblock %}

{% block title %}Life Study{% endblock %}

{% block lifestudies_content %}

    {% if profile.trainee %}
        <h3> TA Access Only </h3>
        
    {% elif profile.trainingassistant %}

        <h3> Life Study Report </h3>
        {% if disciplines %}
            <div class="panel panel-primary">
              <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">Filtering</h3>
                </div>
                <div class="panel-body">                      
                    <form action="" method="post">   
                            {% csrf_token %}
                            <div class="col-md-3">
                                <select name="select_trainee" class="form-control">
                                    <option value="" selected="select">Choose a Trainee</option>
                                    {% for trainee in trainees %}
                                        <option value="{{trainee.pk}}">{{trainee}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select name="select_team" class="form-control">
                                    <option value="" selected="select">Choose a Team</option>
                                    {% for team in teams %}
                                        <option value="{{team.pk}}">{{team}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select name="select_house" class="form-control">
                                    <option value="" selected="select">Choose a House</option>
                                    {% for house in houses %}
                                        <option value="{{house.pk}}">{{house}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-default">Select</button>
                        </form>
                </div> 
                <div class="panel-heading">
                    <h3 class="panel-title">Incompleted Life-Study</h3>
                </div>
                <table class="table">
                    <tr>
                        <th> Name </th>
                        <th> Reason </th>
                        <th> Type </th>
                        <th> Quantity </th>
                        <th> Still Due </th>
                        <th> Date Assigned </th>
                        <th> Due Date </th>  
                        <th> Approved </th>
                        <th> </th>
                        <th> </th>
                    </tr>
                    {% for discipline in disciplines %}
                    {% if discipline.isCompleted == False %}
                    <tr>
                        <td>{{discipline.trainee.account.get_full_name}}</td>
                        <td>{{discipline.infraction}}</td>
                        <td>{{discipline.offense}}</td>
                        <td>{{discipline.quantity}}</td>
                        <td>{{discipline.getNumSummaryDue}}</td>
                        <td>{{discipline.due | date:"m/d/y"}}</td>
                        <td>{{discipline.date_assigned | date:"m/d/y"}}

                        {% for summary in discipline.summary_set.all %}
                        <td>
                            <a href="{% url 'summary-approve' summary.pk %}"> 
                                {{summary.date_submitted | date:"m/d/y"}}
                            </a>
                        </td>
                        {% endfor %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
                <div class="panel-heading">
                    <h3 class="panel-title">Completed Life-Study</h3>
                </div>
                <table class="table">
                    <tr>
                        <th> Name </th>
                        <th> Reason </th>
                        <th> Type </th>
                        <th> Quantity </th>
                        <th> Still Due </th>
                        <th> Date Assigned </th>
                        <th> Due Date </th>  
                        <th> Approved </th>
                        <th> </th>
                        <th> </th>
                    </tr>
                    {% for discipline in disciplines %}
                    {% if discipline.isCompleted == True %}
                    <tr>
                        <td>{{discipline.trainee.account.get_full_name}}</td>
                        <td>{{discipline.infraction}}</td>
                        <td>{{discipline.offense}}</td>
                        <td>{{discipline.quantity}}</td>
                        <td>{{discipline.getNumSummaryDue}}</td>
                        <td>{{discipline.due | date:"m/d/y"}}</td>
                        <td>{{discipline.date_assigned | date:"m/d/y"}}

                        {% for summary in discipline.summary_set.all %}
                        <td>
                            <a href="{% url 'summary-approve' summary.pk %}"> 
                                {{summary.date_submitted | date:"m/d/y"}}
                            </a>
                        </td>
                        {% endfor %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
