{% extends "lifestudies/base_lifestudies.html" %}

{% block tab1 %} class="active" {% endblock %}

{% block title %}Life Study{% endblock %}

{% block lifestudies_content %}

    {% if profile.trainee %}

        <h3> Life Study Summaries</h3>

        <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading"><b>Life-Study Due</b></div>

        <!-- <div class="panel-body">
            <p>...</p>
        </div> -->
            <ul class="list-group">
                {% for discipline in disciplines %}
                    {% if discipline.trainee.account_id == profile.pk and discipline.isCompleted == False %}
                        <li class="list-group-item">
                            Discipline assigned for {{discipline.infraction}}. Summaries left: <b>{{discipline.getNumSummaryDue}}</b>
                            <ul class="list-group">
                                {% for summary in discipline.summary_set.all %}
                                        <a href="{% url 'summary-detail' summary.pk %}" class="list-group-item">
                                            {{summary.book}} | 
                                            {% if summary.approved %}
                                                <b>approved</b>
                                            {% else %}
                                                <b>not approved</b>
                                            {% endif %}
                                        </a>
                                {% endfor %}
                                <!-- TODO to disable this when the summary are all submitted-->
                                <form action="{% url 'summary-create' discipline.pk %}">
                                    <button class="btn btn-success">New Life-Study Summary </button>
                                </form>
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

    # note: click to edit

    {% elif profile.trainingassistant %}

        <h3> Life Study TA View </h3>

        <table class="table">
            <tr>
                <th> </th>
                <th> Name </th>
                <th> Reason </th>
                <th> Type </th>
                <th> Quantity </th>
                <th> Still Due </th>
                <th> Date Assigned </th>
                <th> Due Date </th>  
                <th> Submitted </th>
            </tr>
            {% for discipline in disciplines %}
            {% if discipline.isCompleted == False %}
            <tr>
                <td> 
                    <form action="{% url 'discipline-list' %}" method="post">
                        {% csrf_token %}
                        <input type="checkbox" name="selection" value="{{discipline.pk}}"></input>
                </td>
                <td>{{discipline.trainee.account.get_full_name}}</td>
                <td>{{discipline.infraction}}</td>
                <td>{{discipline.offense}}</td>
                <td>{{discipline.quantity}}</td>
                <td>{{discipline.getNumSummaryDue}}</td>
                <td>{{discipline.date_assigned | date:"m/d/y"}}
                <td>{{discipline.due | date:"m/d/y"}}</td>


                {% for summary in discipline.summary_set.all %}
                <td>
                    <a href="{% url 'summary-approve' summary.pk %}"> 
                        {{summary.date_submitted | date:"m/d/y"}}
                    </a>
                </td>
                {% endfor %}
            </tr>
            {% endif %}
            {% endfor %}
        </table>

                        <button type="submit" name="approve" class="btn btn-success">Approve Selected</button>
                        <button type="submit" name="delete" class="btn btn-danger">Delete Selected</button>
                    </form>


    {% endif %}

{% endblock %}
