{% extends "base.html" %}

{% block title %}Life Study{% endblock %}

{% block content %}

    {% if profile.trainee %}

        <h3> Life Study Summaries</h3>

        {% if disciplines %}
            {% for discipline in disciplines %}
                {% if discipline.trainee.account_id == profile.pk and discipline.isCompleted == False %}
                    <li> {{discipline.displayForTrainee}} 
                        {% if discipline.getNumSummaryDue > 0 %}
                        <a href="{% url 'summary-create' discipline.pk %}"> New </a>
                        {% endif %}
                    </li>
                    <ul>
                        {% for summary in discipline.summary_set.all %}
                            <li> 
                                {{summary}} 
                                {% if summary.approved == False %}
                                <a href="{% url 'summary-detail' summary.pk %}"> Edit </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% endif %}


    {% elif profile.trainingassistant %}

        <h3> Life Study TA View </h3>

        <table>
            <tr>
                <th> </th>
                <th> Name </th>
                <th> Infraction </th>
                <th> Offense </th>
                <th> Quantity </th>
                <th> Still Due </th>
                <th> Due Date </th>  
            </tr>
            {% for discipline in disciplines %}
            {% if discipline.isCompleted == False %}
            <tr>
                <td> 
                    <form action="" method="post">
                    {% csrf_token %}
                        <input type="checkbox" name="selection" value="{{discipline.pk}}"></input>
                </td>
                <td>{{discipline.trainee.account.get_full_name}}</td>
                <td>{{discipline.infraction}}</td>
                <td>{{discipline.offense}}</td>
                <td>{{discipline.quantity}}</td>
                <td>{{discipline.getNumSummaryDue}}</td>
                <td>{{discipline.due | date:"m/d/y"}}</td>

                {% for summary in discipline.summary_set.all %}
                {{summary.approved}}
                <td>
                    <a href="{% url 'summary-approve' summary.pk %}"> 
                        {{summary.date_submitted | date:"m/d/y"}}
                    </a>
                </td>
                {% endfor %}
            </tr>
            {% endif %}
            {% endfor %}
        </table>
                        <input type="submit" name="approve" value="Approve Selected"/>
                        <input type="submit" name="delete" value="Delete Selected"/>
                    </form>


        <!--assign LS to single trainee botton-->
        <form action="{% url 'discipline-create' %}">
            <input type="submit" value="Assign life-study to single trainee">
        </form>

        <!--assign LS to house button-->
        <form action="{% url 'discipline-house' %}">
            <input type="submit" value="Assign life-study to house">
        </form>

        <!--link to report view-->
        <a href="{% url 'reportview' %}"> Life Study Report</a>
    {% endif %}

{% endblock %}
