{% extends "base.html" %}

{% block title %}Life Study{% endblock %}

{% block content %}

    {% if profile.trainee %}

        <h3> TA Access Only </h3>


    {% elif profile.trainingassistant %}

        <h3> Life Study Report </h3>

        {% if disciplines %}
            Incompleted Summaries
            <ul>
            {% for discipline in disciplines %}
                {% if discipline.isCompleted == False %}    
                    <div>
                     {{ discipline }} 
                    {% for summary in discipline.summary_set.all %}
                        {% if summary.approved == False %}
                            <a href="{% url 'summary-approve' summary.pk %}"> {{summary.date_submitted | date:"m/d/y"}} </a>
                        {% endif %}
                        {% if summary.approved == True %}
                            Approved:
                            <a href="{% url 'summary-approve' summary.pk %}"> {{summary.date_submitted | date:"m/d/y"}} </a>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
            </ul>

            Completed Summaries
            <ul>
            {% for discipline in disciplines %}
                {% if discipline.isCompleted == True %}    
                    <div>
                    {{ discipline }}
                    {% for summary in discipline.summary_set.all %}
                        {% if summary.approved == True %}
                            Approved:
                            <a href="{% url 'summary-approve' summary.pk %}"> {{summary.date_submitted | date:"m/d/y"}} </a>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}  
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}

 <a href="{% url 'discipline-list' %}"> Back </a>   

{% endblock %}
