{% extends "base.html" %}

{% block title %}Life Study{% endblock %}

{% block content %}

    {% if profile.trainee %}
        <h3> Life Study Summaries</h3>
    {% elif profile.trainingassistant %}
        <h3> Discipline Master View </h3>
    {% endif %}

{% if lifestudies %}
    {% for lifestudy in lifestudies %}
        {% if lifestudy.trainee.pk == profile.pk %}
            <li> {{lifestudy.displayForTrainee}} 
                <a href="{% url 'summary-create' lifestudy.pk %}"> New </a> </li>
            <ul>
                {% for summary in lifestudy.summary_set.all %}
                    <li>{{summary}} <a href="{% url 'summary-detail' summary.pk %}"> View </a></li>
                {% endfor %}
            </ul>
        {% else %}
            <!-- do nothing here -->
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock %}
