{% extends "base.html" %}

{% block title %}Life Study{% endblock %}

{% block content %}

    {% if profile.trainee %}

        <h3> Life Study Summaries</h3>

        {% if lifestudies %}
            {% for lifestudy in lifestudies %}
                {% if lifestudy.trainee.pk == profile.pk %}
                    <li> {{lifestudy.displayForTrainee}} 
                        <a href="{% url 'summary-create' lifestudy.pk %}"> New </a> </li>
                    <ul>
                        {% for summary in lifestudy.summary_set.all %}
                            <li> 
                                {{summary}} 
                                <a href="{% url 'summary-detail' summary.pk %}"> Edit </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% endif %}


    {% elif profile.trainingassistant %}

        <h3> Life Study TA View </h3>

        {% if lifestudies %}
        <form action="{% url 'lifestudy-list' %}" method="post">
            {% csrf_token %}
            {% for lifestudy in lifestudies %}
                {% if lifestudy.isCompleted == False %}    
                    <div>
                    <input type="checkbox" name="{{lifestudy.pk}}" value="True"> {{ lifestudy }} </input>
                    {% for summary in lifestudy.summary_set.all %}
                        {% if summary.approved == False %}
                            <a href="{% url 'summary-detail' summary.pk %}"> {{summary.date_submitted | date:"m/d/y"}} </a>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        <input type="submit" value="approve selected"/>
        </form>
        {% endif %}
            <form action="{% url 'lifestudy-create' %}">
                <input type="submit" value="Assign life-study to single trainee">
            </form>
    {% endif %}

    

{% endblock %}
