{% extends "lifestudies/base_lifestudies.html" %}

{% block title %}Life Study{% endblock %}

{% block lifestudies_content %} 

    <div class="container">
        <div class="col-md-12">
            <h2>{{summary.book.name}}</h2>
            <p>{{summary.content}}</p>
            <div>
                <span class="badge">{{summary.date_submitted}}</span><div class="pull-right">
                {% if summary.approved == False %}
                    <form action="" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Approve</button>
                    </form>
                {% endif %}        
            </div>
        </div>
    </div>
 
{% endblock %}