{% extends "base.html" %}

{% block title %}Life Study{% endblock %}

{% block content %}
 
{% if summary.approved == True %} 
<h3> Summary Details </h3>
{% else %}
<h3> Approve Summary </h3>
{% endif %}


<li>Book: "{{summary.book.name}}" Ch. {{summary.chapter}}</li>

<li>Date Time submitted: {{summary.date_submitted}}</li>

<li>Content: {{summary.content}}</li>

{% if summary.approved == False %} 
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Approve</button>
    </form>
{% endif %}    

<a href="{% url 'discipline-list' %}"> Back </a>

{% endblock %}