.leaveslip-form {
	width: 50%;
}

.leaveslip-form textarea {
	height: 100px;
}

.leaveslip-form select[multiple="multiple"] {
	height: 250px;
}

.mealout-form {
	display: none;
}

.nightout-form {
	display: none;
}
