{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block references %}
        
    <style type="text/css" class="init">
        div.DTTT { margin-bottom: 0.5em; float: bottom; }
    </style>

{% endblock %}

{% block scripts %}
    
    <script type="text/javascript" language="javascript" class="init">
    $(document).ready(function() {
        $('#mytable').DataTable( {
            dom: 'T<"clear">lfrtip',
            tableTools: {
                "sSwfPath": "../../static/swf/copy_csv_xls_pdf.swf",
                "aButtons": [ "print" ]
            }
        } );
    } );
    </script>

{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'meal_seating/style.css' %}" />

<div class="container">
    <section>
        <table id="mytable" class="table table-striped table-bordered meal_date">
            <thead>
                    <td class="name"></td>
                    <td colspan="2">Tuesday</td>
                    <td colspan="2">Wednessday</td>
                    <td colspan="2">Thursday</td>
                    <td >Friday</td>
                    <td colspan="3">Saturday</td>
                    <td>LD</td>
                    <td>M</td>
                    <td colspan="2">Tuesday</td>
                    <td colspan="2">Wednessday</td>
                    <td colspan="2">Thursday</td>
                    <td>Friday</td>
                    <td colspan="3">Saturday</td>
                    <td>LD</td>
                    <td>M</td>
                </tr>

                <tr class="meal_date">
                    <td class="name"></td>
                    <td colspan="2">{{two_week_datelist.0}}</td>
                    <td colspan="2">{{two_week_datelist.1}}</td>
                    <td colspan="2">{{two_week_datelist.2}}</td>
                    <td>{{two_week_datelist.3}}</td>
                    <td colspan="3">{{two_week_datelist.4}}</td>
                    <td>{{two_week_datelist.5}}</td>
                    <td>{{two_week_datelist.6}}</td>
                    <td colspan="2">{{two_week_datelist.7}}</td>
                    <td colspan="2">{{two_week_datelist.8}}</td>
                    <td colspan="2">{{two_week_datelist.9}}</td>
                    <td>{{two_week_datelist.10}}</td>
                    <td colspan="3">{{two_week_datelist.11}}</td>
                    <td>{{two_week_datelist.12}}</td>
                    <td>{{two_week_datelist.13}}</td>
                </tr>
                
                <tr class="meal_date">
                    <td class="name"></td>
                    <td>B</td><td>D</td>    
                    <td>B</td><td>D</td>
                    <td>B</td><td>D</td>
                    <td>B</td>
                    <td>B</td><td>L</td><td>D</td>
                    <td>B</td><td>D</td>
                    <td>B</td><td>D</td>    
                    <td>B</td><td>D</td>
                    <td>B</td><td>D</td>
                    <td>B</td>
                    <td>B</td><td>L</td><td>D</td>
                    <td>B</td><td>D</td>
                </tr>
            </thead>

            <tbody>
            {% for entry in trainees %}
                <tr>
                    <td class="name" >{{entry.lastname}} , {{entry.firstname}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
</div>

{% endblock %}

