{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block content %}

<table class="table table-striped table-bordered">
    <tr align="center">
    <td></td>
    <td colspan="2">Tuesday</td>
    <td colspan="2">Wednessday</td>
    <td colspan="2">Thursday</td>
    <td>Friday</td>
    <td colspan="3">Saturday</td>
    <td>LD</td>
    <td>M</td>
    <td colspan="2">Tuesday</td>
    <td colspan="2">Wednessday</td>
    <td colspan="2">Thursday</td>
    <td>Friday</td>
    <td colspan="3">Saturday</td>
    <td>LD</td>
    <td>M</td>
    </tr>
    
    <tr align="center">
        <td></td>
        <td nowrap colspan="2">{{two_week_datelist.0}}</td>
        <td nowrap colspan="2">{{two_week_datelist.1}}</td>
        <td nowrap colspan="2">{{two_week_datelist.2}}</td>
        <td nowrap >{{two_week_datelist.3}}</td>
        <td nowrap colspan="3">{{two_week_datelist.4}}</td>
        <td nowrap >{{two_week_datelist.5}}</td>
        <td nowrap >{{two_week_datelist.6}}</td>
        <td nowrap colspan="2">{{two_week_datelist.7}}</td>
        <td nowrap colspan="2">{{two_week_datelist.8}}</td>
        <td nowrap colspan="2">{{two_week_datelist.9}}</td>
        <td nowrap >{{two_week_datelist.10}}</td>
        <td nowrap colspan="3">{{two_week_datelist.11}}</td>
        <td nowrap >{{two_week_datelist.12}}</td>
        <td nowrap >{{two_week_datelist.13}}</td>
    </tr>
    
    <tr align="center">
    <td></td>
    <td>B</td><td>D</td>    
    <td>B</td><td>D</td>
    <td>B</td><td>D</td>
    <td>B</td>
    <td>B</td><td>L</td><td>D</td>
    <td>B</td><td>D</td>
    <td>B</td><td>D</td>    
    <td>B</td><td>D</td>
    <td>B</td><td>D</td>
    <td>B</td>
    <td>B</td><td>L</td><td>D</td>
    <td>B</td><td>D</td>
    </tr>
    
    {% for entry in trainees %}
        <tr><td>{{entry.lastname}} , {{entry.firstname}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    {% endfor %}

</table>



{% endblock %}

