{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block content %}
    <form class="form-horizontal" action="/meal_seating/viewlist/" method="post">{% csrf_token %}
    <fieldset>

    <!-- Form Name -->
    <legend>Meal Seating Assignment Form</legend>

    <!-- Multiple Radios (inline) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="Gender">Select Trainee Gender</label>
      <div class="col-md-4">
        <label class="radio-inline" for="Gender-0">
          <input type="radio" name="Gender" id="Gender-0" value="B" checked="checked">
          Brothers
        </label>
        <label class="radio-inline" for="Gender-1">
          <input type="radio" name="Gender" id="Gender-1" value="S">
          Sisters
        </label>
      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="Filter">Filter Trainees by: </label>
      <div class="col-md-4">
        <select id="Filter" name="Filter" class="form-control">
          <option value="trainee__address">Address</option>
          <option value="date_of_birth">Birthday</option>
          <option value="trainee__bunk">Bunk</option>
          <option value="firstname">First Name</option>
          <option value="trainee__house">Houses</option>
          <option value="lastname">Last Name</option>
          <option value="trainee__team">Team</option>
          <option value="trainee__term">Term</option>          
        </select>
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="submit"></label>
      <div class="col-md-4">
        <input type="submit" name="submit" class="btn btn-success" value="Submit">
      </div>
    </div>

    </fieldset>
    </form>

    <form class="form-horizontal" action="/meal_seating/mealsignin/" method="post">{% csrf_token %}
        <div align="center">
          <input type="submit" name="Meal Sign In Sheet" class="btn" value="View Meal Sign In Sheet">
        </div>
    </form>

{% endblock %}