{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block title %}Create Event{% endblock %}

{% block media %}

    {{ block.super }}
    {{ form.media }}
    <link href="/static/css/select2-bootstrap.css" type="text/css" media="screen" rel="stylesheet">
    
{% endblock %}

{% block content %}

    <h2>Create Event</h2>

    <form id="eventForm" action="" method="post">{% csrf_token %}
        {% bootstrap_form form %}
        <button type="button" data-toggle="modal" data-target="#trainee_select">Add Trainee Group</button>
        {% buttons %}
            <button type="submit" class="btn btn-primary" form="eventForm">
                Create
            </button>
        {% endbuttons %}
    </form>

    {% include 'schedules/trainee_select_modal.html' %}
    

{% endblock %}
