{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block title %}Create Event{% endblock %}

{% block media %}
    <link href="/static/css/select2-bootstrap.css" type="text/css" media="screen" rel="stylesheet">
    <script type="text/javascript" src="/static/js/underscore-min.js"></script>
    {{ form.media }}


     <style>
        /* ideally, the border should be on select2-container, not select2-choices (this is what select2-bootstrap.css does). but doing it that way results in a weird line break (the cursor always starts on a new line and makes the box look funny). */
        .select2-container{
            border: 0px;
            padding: 0px;
        }
        ul.select2-choices{
            border: 1px #cccccc;
            border-radius: 4px;
        }
    </style>

{% endblock %}

{% block content %}

    <h2>Create Event</h2>

    <form id="eventForm" action="" method="post">{% csrf_token %}
        {% bootstrap_form form %}
        <button type="button" data-toggle="modal" data-target="#trainee_select">Add Trainee Group</button>
        {% buttons %}
            <button type="submit" class="btn btn-primary" form="eventForm">
                Create
            </button>
        {% endbuttons %}
    </form>

    {% include 'schedules/trainee_select_modal.html' %}

    </div>
    

{% endblock %}
