{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <h2>{{ eventgroup.name }} <br>
    <small>{{ eventgroup.code }}</small>
    </h2>

    <p class="lead">{{ eventgroup.description }}</p>


    <table class="table">
        <tr><td>Repeat:</td>
            <td>{{ eventgroup.repeat }}</td></tr>
        <tr><td>Duration:</td>
            <td>{{ eventgroup.duration }} weeks</td></tr>
    </table>

    <h4>Events in this Group</h4>
    {% if eventgroup.event_set.all %}
        <ul>
        {% for event in  eventgroup.event_set.all %}
            <li><a href="{{ event.get_absolute_url }}">{{ event }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        None
    {% endif %}

{% endblock %}