{% extends "base.html" %}
{% load staticfiles %}

{% block references %}
    <link href="{% static "schedules/schedule.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h2>{{ schedule.trainee }}'s Schedule</h2><br>
    <i>Placeholder for when react-schedule can be put in here. (Requires some thought with refactoring of react-calendar).</i>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "js/underscore-min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
{% endblock %}
