{% extends "base.html" %}
{% load staticfiles %}

{% block references %}
    <link href="{% static "calendar/css/calendar.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h2>{{ schedule.trainee }}'s Schedule</h2><br>
    <div id="clndr">
    </div>


{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "js/underscore-min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/moment.js" %}"></script>
    <script type="text/javascript" src="{% static "js/clndr.min.js" %}"></script>

    <script type="text/template" id="clndr_template">
        <div class="controls">
            <button class="clndr-previous-button">Prev.</button>
            <div class="month"><%= days[extras.currentWeek * 7].date.format('YYYY-MM-DD') %> - <%= days[extras.currentWeek * 7 + 6].date.format('YYYY-MM-DD') %></div>
            <button class="clndr-next-button">Next</button>
        </div>

        <div class="days-of-the-week clearfix">
            <% _.each(daysOfTheWeek, function(day) { %>
                <div class="header-day"><%= day %></div>
            <% }); %>
        </div>

        <div class="days clearfix">
            <% for(var i = extras.currentWeek * 7; i < extras.currentWeek * 7 + 7; i++) { %>
                <div class="<%= days[i].classes %>" id="<%= days[i].id %>"><%= days[i].day %></div>
            <% } %>
        </div>
    </script>

    <script type="text/javascript">
        function weeksInMonth(month) {
            return Math.floor((month.daysInMonth() + moment(month).startOf('month').weekday()) / 7);
        }

        var clndr = $('#clndr').clndr({
            template: $('#clndr_template').html(),
            extras: {
                currentWeek: Math.floor( ( ( (moment().date() + moment().startOf('month').weekday() ) - 1 ) / ( weeksInMonth(moment() ) * 7) ) * weeksInMonth( moment() ) )
            },
            constraints: {
                startDate: '2014-02-16',
                endDate: '2014-07-05'
            },
            doneRendering: function() {

                /* Next button handler */
                $('#clndr .clndr-next-button').on('click', function() {

                    /* Get numbers of weeks in the month */
                    var weeks_in_month = Math.floor(clndr.month.daysInMonth() / 7) - 1;

                    if(clndr.options.extras.currentWeek < weeks_in_month) {
                        /* Increase the week count */
                        clndr.options.extras.currentWeek += 1;
                    } else {
                        /* Reset the week count */
                        clndr.options.extras.currentWeek = 0;

                        /* Go to next month */
                        clndr.next();
                    }

                    clndr.render();
                });

                /* Previous button handler */
                $('#clndr .clndr-previous-button').on('click', function() {

                    /* Get numbers of weeks in the month */
                    var weeks_in_month = Math.floor(clndr.month.daysInMonth() / 7) - 1;

                    if(clndr.options.extras.currentWeek > 0) {
                        /* Decrease the week count */
                        clndr.options.extras.currentWeek -= 1;
                    } else {
                        /* Reset the week count */
                        clndr.options.extras.currentWeek = weeks_in_month;

                        /* Go to previous month */
                        clndr.back();
                    }

                    clndr.render();
                });

            }
        });
    </script>
{% endblock %}
