{% extends "base.html" %}
{% load staticfiles %}

{% block references %}
    <link href="{% static "calendar/css/calendar.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h2>{{ schedule.trainee }}'s Schedule</h2><br>

    <div class="panel">
            <div class="btn-group">
                <button class="btn btn-primary" data-calendar-nav="prev">&lt;&lt; Prev</button>
                <button class="btn btn-default" data-calendar-nav="today">Today</button>
                <button class="btn btn-primary" data-calendar-nav="next">Next &gt;&gt;</button>
            </div>
            <div class="btn-group">
                <button class="btn btn-warning" data-calendar-view="year">Year</button>
                <button class="btn btn-warning active" data-calendar-view="month">Month</button>
                <button class="btn btn-warning" data-calendar-view="week">Week</button>
                <button class="btn btn-warning" data-calendar-view="day">Day</button>
            </div>
    </div>

    <div id="calendar"></div>

    <!-- Modal -->
    <div class="modal fade" id="events-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="event-modal-label">Event</h3>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "js/underscore-min.js" %}"></script>
    <script type="text/javascript" src="{% static "calendar/js/calendar.js" %}"></script>
    <script type="text/javascript">
        var calendar = $('#calendar').calendar({
            tmpl_path: "{% static "calendar/tmpls/" %}",
            view: 'week',
            modal: "#events-modal",
            modal_type : "ajax",
            modal_title : function (event) { return event.title },
            events_source: [
                {% for event in schedule.events.all %}
                {
                    "id": {{ event.id }},
                    "title": "{{ event.name }}",
                    "url": "{{ event.get_absolute_url }}",
                    "class": "",
                    "start": "{{ event.unixstarttime }}",
                    "end": "{{ event.unixendtime }}",
                },
                {% endfor %}
            ],
        });

        $('.btn-group button[data-calendar-nav]').each(function() {
            var $this = $(this);
            $this.click(function() {
                calendar.navigate($this.data('calendar-nav'));
            });
        });

        $('.btn-group button[data-calendar-view]').each(function() {
            var $this = $(this);
            $this.click(function() {
                calendar.view($this.data('calendar-view'));
            });
        });

    </script>
{% endblock %}
