{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block title %}{{ term }} Events{% endblock %}

{% block content %}

    <h2>{{ term }} Events</h2>
    <ul>
    {% for event in events %}
        <li><b><a href="{{event.get_absolute_url}}">{{ event }}</a></b> 
            <small>(<a href="{% url 'schedules:event-update' pk=event.pk %}">Edit</a> | <a href="{% url 'schedules:event-delete' pk=event.pk %}" target="_blank">Delete</a>)</small>
        </li>
    {% endfor %}


    

{% endblock %}
