{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>FTTA - {% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/fluid.css" %}" rel="stylesheet"> <!--right now, just a fix for small-size screens-->
    <link href="{% static "bootstrap/css/navbar-static-top.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/offcanvas.css" %}" rel="stylesheet">
    {% block references %}{% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="{% static "jquery/js/jquery-1.10.1.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/modernizr-2.6.2-respond-1.1.0.min.js" %}"></script>
    <script src="{% static "bootstrap/js/offcanvas.js" %}"></script>

    <!-- put other refs and scripts here -->
    {% block media %}
      {% block refs %}{% endblock refs %}
      {% block scripts %}{% endblock scripts %}
    {% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <div class="pull-left visible-xs">
            <button type="button" class="sidebar-toggle" data-toggle="offcanvas">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-dot"></span>
            <span class="icon-dot"></span>
            <span class="icon-dot"></span>
          </button>
          <a class="navbar-brand hidden-xs" href="{% url 'home' %}">Full-Time Training in Anaheim</a>
          <a class="navbar-brand visible-xs" href="#">FTTA</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% block navbar-right %}
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Hi, {{user.get_full_name}}! <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li role="presentation" class="dropdown-header">Account Settings</li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'user-detail' user.id %}">Profile</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'email-change' user.id %}">Change Email</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'password-change' %}">Change Password</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'user-update' user.id %}">Update Account</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation" class="dropdown-header">Dropdown header</li>
                    <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'login' %}">Logout</a></li>
                  </ul>
              </li>
            {% endblock %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    {% block sidebar %}
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-left">
        <!--SIDEBAR-->
        <div class="col-xs-12 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation" style="padding:0px; margin-top:-20px">
          <div class="well sidebar-nav" style="border-radius:0px">
            <ul class="nav">

              {% block sidelinks %}

              <li>Schedule</li>
                <li><a href="{% url 'schedules:schedule' %}">View Schedule</a></li>
                <li><a href="{% url 'schedules:event-create' %}">Create Event</a></li>

              <li>Attendance</li>
                {% block attendance_links %}
                <li><a href="{% url 'schedules:event-create' %}">Create Event</a></li>
                <li><a href="{% url 'schedules:schedule-list' %}">View Schedule</a></li>
                <li><a href="{% url 'attendance:attendance-submit' %}">Personal Attendance</a></li>
                <li><a href="{% url 'absent_trainee_roster:absent_trainee_form' %}">Absent Trainee Roster</a></li>
                <li><a href="/lifestudies/">Life Study</a></li>
                {% endblock %}

              <hr style="border-top: 1px solid #dddddd;">

              <li>Classes</li>
                {% block classes_links %}
                <li><a href="#">A/V Requests</a></li>
                <li><a href="#">Class Notes</a></li>
                {% endblock %}

              <hr style="border-top: 1px solid #dddddd;">

              <li>Special Projects</li>
                <li><a href="{% url 'meal_seating.views.newseats' %}">Meal Seating</a></li>

              <hr style="border-top: 1px solid #dddddd;">

              <li>Leaveslips</li>
                {% block leaveslips_links %}
                 <li><a href="/leaveslips">View Leaveslips</a></li>
                <li><a href="/leaveslips/individual/create">Submit Individual Leaveslips</a></li>
                <li><a href="/leaveslips/group/create">Submit Group Leaveslips</a></li>
                {% endblock %}

              {% endblock %}
            </ul>
          </div>
        </div><!--/sidebar-->
    {% endblock %}

    <!--CONTENT-->
    <div class="col-xs-12 col-sm-9 content">

        {% block messages %}
            <div id="messages">
              {% if messages %}
                {% for message in messages %}
                  {% bootstrap_messages message %}
                {% endfor %}
              {% endif %}
            </div>
        {% endblock %}

        {% block content %}
          <!-- CONTENT OF PAGE GOES HERE -->
        {% endblock %}

      </div><!--/CONTENT -->

    </div> <!-- /container -->

  </body>
</html>
