<HTML>
<HEADER><TITLE>User Profile</TITLE></HEADER>
<BODY>

        {% extends "base.html" %}
        {% load staticfiles %}
        {% block content %}
        <p><h8> Email: {{user.email}}</h8></p>
        <p><h8> Last name: {{user.lastname}}</h8></p>
        <p><h8> Middle name: {{user.middlename}}</h8></p>
        <p><h8> First name: {{user.firstname}}</h8></p>
        <p><h8> Phone: {{user.phone}}</h8></p>

        {% if user.trainee %}
        <p><h8> Team: {{user.trainee.team}}</h8></p>
        <p><h8> House: {{user.trainee.house}}</h8></p>
        <p><h8> Home address: {{user.trainee.address}}</h8></p>
        {% endif %}

        <FORM id="cat_form" method="post" action="/accounts/profile_change/">       

                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}

                {% for field in form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text}}
                        {{ field }}
                {% endfor %}
                <INPUT type="submit" name="submit" value="submit" />
        </FORM>
        {% endblock %}
<BODY>
</HTML>