.comments {
    width: 100%;
}
      
ul.errorlist {
    margin: 0;
    padding: 0;
}
      
.errorlist li {
    background-color: red;
    color: white;
    display: block;
    font-size: 10px;
    margin: 0 0 3px;
    padding: 4px 5px;
}

.name{
    margin-top:10px;
    margin-bottom:15px;
}

.reason{
    padding-right: 0;
    margin-left:-15px;
    margin-bottom:-15px;
}

.coming{
    padding-left:0;
    margin-left:-25px;
}

.form-top{
    border-bottom:1px solid #e3e3e3;
     margin-top:15px;
}

.error{
    margin-top:4px;
    padding-left:0;
}

.add{
    padding-left:15px;
    margin-top:10px;
}