.present {
    background-color: #cccccc;
    border: 1px solid #8e8e8e;
}

.absent {
    background-color: #d9534f;
    border: 1px solid #d43f3a;
}

.tardy, .uniform, .left-class {
    background-color: #f0ad4e;
    border: 1px solid #eea236;
}


.approved {
    background-color: #5cb85c;
}

.pending {
    border: 1px solid #4cae4c;
}


/* Leave slip styles */

#submit-leaveslip textarea {
	height: 80px;
}

#leaveslip-alert {
	display: none;
	background-color: #fbeed5;
	border: 1px solid #C5BCAD;
}