.schedule-header {
    border-bottom: solid thin #cccccc;
    text-align: center;
}

.today {
    background-color: #dff0d8;
}

.hour {
    height: 30px;
    border-bottom: dotted thin #cccccc;
    font-size: 10px;
}

.schedule-event {
    opacity: 0.8;
    position: absolute;
    width: 99%;
    text-align: center;
    font-size: 10px;
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #a0b689;
}

.selected-event {
    opacity: 1.0;
}
