<p> Hey world, this is detail.html for syllabus instead. </p>




<h1> Session List: </h1>

<p> session date: </p>
{% if sl %}

	<ul>
		{% for session in sl  %}

			{% if session.syllabus.classSyllabus %}
				<p> test </p>
 			{% endif %}

		<li> <p> {{session.syllabus.classSyllabus}} </p> </li>
			

		
		{% endfor %}
			
		
		
		</br>
	</ul>



<p> session topic: </p>
	<ul>
		{% for session in sl %}
				<li> {{session.topic}}  </li>
		{% endfor %}
	</ul>

<p> session book: </p>
	<ul>
		{% for session in sl %}
				<li>  {{session.book}}  </li>
		{% endfor %}
	</ul>

<p> session name: </p>
	<ul>
		{% for session in sl %}
				<li> {{session.syllabus}} </li>
		{% endfor %}
	</ul>

{% else %}
	<p>No sessions.</p>
{% endif %}


