</br>
<!-- <a href="{% url 'home-view' %}"> Back to Home page</a> -->

<h1> Class List: </h1>

<!-- {% if list %}
	<ul>
		{% for syllabus in list %}
			<li> <a href="{{ syllabus.get_url_path }}" >{{ syllabus.classSyllabus }} </a> </li>
		{% endfor %}
	</ul>
{% else %}
	<p>No syllabus.</p>
{% endif %}


{% if list %}
	<ul>
		{% for syllabus in list %}
			<li> <a href="{{syllabus.get_id}}" > {{ syllabus.classSyllabus.code }} </a> </li>
		{% endfor %}
	</ul>
{% else %}
	<p>No syllabus.</p>
{% endif %} -->

{% if list %}
	<ul>
		{% for syllabus in list %}
			<li> <a href="{{syllabus.get_url}}" > {{ syllabus.classSyllabus.name }} </a> </li>
		{% endfor %}
	</ul>
{% else %}
	<p>No syllabus.</p>
{% endif %}


<br><br>
<p> Click to: </p>
<a href="{% url 'add-syllabus' %}"> Add a Syllabus </a>
</br>
<a href="{% url 'delete-syllabus' %}"> Delete a Syllabus </a>