<p> Hey world, this is detail.html for syllabus instead. </p>





<h1> Session List: </h1>


---
{% if syl_list %}
	<h3><p># of Syllabii: {{ syl_list|length }}</p></h3>
	{% for syllabus in syl_list %}

		<h2>Current Syllabus: {{ syllabus.classSyllabus.name }}</h2>
			{% if syllabus.classSyllabus.name == 'Triune God' %}
				HOORAY this syllabus is trune god!

				<h5>
				<p># of Sessions: {{ syllabus.session_set.all|length }}</p>
				{% if syllabus.session_set.all %}
					{% for session in syllabus.session_set.all %}
						<p> Date: {{ session.date }} |
							Topic: {{ session.topic }} |
							Reading Assignment: {{ session.book.code }},
							{{ session.assignment }} |
							Exam: {{ session.exam }} </p>
					{% endfor %}
				{% endif %}
				</h5>

			{% endif %}
		<!-- TO DO: get session related objects by doing a REVERSE relationship from SYLLABUS object. -->
	{% endfor %}

{% endif %}
--- // end of all syllabus

<!-- How to find duplicates in the FOR loop and exclude them. i.e. if multiple syllabus??? -->
{% if sl %}
	{% for session in sl %}
		{% if session.topic == 'Inclusion' %}
			<p> Topic: {{session.topic}}  
			<br>	Syllabus: {{session.syllabus}}
			<br>	Class Syllabus: {{session.syllabus.classSyllabus}}
			</p>
		{% endif %}

		{% if session.syllabus.classSyllabus %}
			<p>{{ session.syllabus.classSyllabus }}</p>
		{% endif %}
	{% endfor %}	
 ---

{% endif %}

<p> session date: </p>
{% if sl %}
	<ul>
		{% for session in sl %}
				<li> {{session.date}} </li>
		{% endfor %}
	</ul>

<p> session topic: </p>
	<ul>
		{% for session in sl %}
				<li> {{session.topic}}  </li>
		{% endfor %}
	</ul>

<p> session book: </p>
	<ul>
		{% for session in sl %}
				<li>  {{session.book}}  </li>
		{% endfor %}
	</ul>

<p> session name: </p>
	<ul>
		{% for session in sl %}
				<li> {{session.syllabus}} </li>
		{% endfor %}
	</ul>

{% else %}
	<p>No sessions.</p>
{% endif %}
