<br><br>

<a href="{% url 'home-view' %}"> Back to term list.</a>
<br>
<a href="{% url 'classlist-view' term %}"> Back to syllabus list.</a>
<br>
<a href="{% url 'add-session' term kode pk %}"> Add a session.</a>

{% if kode == syllabus.classSyllabus.code %}
	<h1>{{ syllabus.classSyllabus }}</h1>
	<p>Course Code: {{ syllabus.classSyllabus.code }}</p>
	<p>Course Name: {{ syllabus.classSyllabus.name }}</p>
	<p>Course Term: {{ syllabus.classSyllabus.term }}</p>
	<p>When to Read: 
	{% if syllabus.after %}
				Complete the assigned reading AFTER each class section
	{% else %}	
				Complete the assigned reading BEFORE each class section
	{% endif %}
	</p>
{% endif %}

<p> {{session.date}} </p>

{% if syllabus.session_set.all %}
	<h4>
	{% for session in syllabus.session_set.all %}
	<li>		
		Date: {{ session.date | date:"m/d" }} |
		{% if session.exam %}
			Topic: EXAM |
		{% else %}
			Topic: {{ session.topic }} |	
		{% endif %}
		{% if session.exam %}
			{% for x in session.assignment %}
				{{x}}
			{% endfor %}
		{% else %}	
			{% if session.book %}
				Reading Assignment: {{ session.book.code }},
			{% endif %}	
			{% for x in session.assignment %}
				{{x}}
			{% endfor %}
		{% endif %}
		<td><a href="{% url 'delete-session' term kode syllabus.id session.id %}">Delete</a></td>
	</li>
	{% endfor %}
	</h4>
	
	<p>
		<!--TO DO: make this display unique books-->
	{% for session in syllabus.session_set.all %}
		{{ session.book.code }} - {{ session.book }}<br>
	{% endfor %}	
	</p>

	<p><a href="{% url 'pdf-view' term kode pk %}"> PDF Download</a></p>
{% endif %}
