<!-- attempt to copy old attendance server syllabus index.php view -->

<!-- Current Selected term is: Currentterm variable

Pick term: Selector botton + Go button

Add a book

Name: input       Code: input         Cat 8:   input field

link to first year class assignments "class reading schedule"

link to second year class assingments "class reading schedule"

List of Individual Syllibi:

link to fmoc syllabus       Edit       New         Delete


 -->


This is an attempt to copy the old attendance server "Syllabus" index.php view

<p> Current Selected Term is: Term????  </p>

<p> Pick Term: </p> 

	<select>
	  <option value="Fa12">Fall 2012</option>
	  <option value="Sp13">Spring 2013</option>
	  <option value="Fa13">Fall 2013</option>
	  
	</select>

	<p> fall 2012 </p>

	<p> term.current term </p>

<!-- skip book input for now -->






