/*custom css for exams*/


#s2id_id_trainees.select2-container  {
    width: 500px;
}

.panel-title {
	padding: 10px;
}

.panel-heading {
	padding: 0px;
}

ul {
    list-style-type: none;
}

.statistics {
	width: 50%;
}