Hello world. This is index.html template for syllabus.

<!-- figure out how to get the class syllabus module objects (json) values
	 into the "syllabus_list" container to be displayed through the function
	 get_absolute_url in the models.py file -->

{% if syllabus_list %}
	<ul>
		{% for syllabus in syllabus_list %}
			<li><a href="{{ syllabus.get_absolute_url }}">{{ syllabus.classSyllabus }}</a></li>
			<p> {{ syllabus.classSyllabus.code }} </p>
		{% endfor %}
		<p>we got a syllabus </p>
	</ul>
{% else %}
	<p>No syllabus.</p>
{% endif %}