{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Absent Trainee Roster{% endblock %}

{% block scripts %}
    <script src="{% static 'js/select2.js' %}"></script>
    <script src="{% static 'js/dynamic_formset.js' %}"></script>
{% endblock %}

{% block references %}
    <style type='text/css'>
      .comments {
        width: 100%;
      }
      ul.errorlist {
      	margin: 0;
      	padding: 0;
      }
      .errorlist li {
      	background-color: red;
      	color: white;
      	display: block;
      	font-size: 10px
      	margin 0 0 3px;
      	padding: 4px 5px;
      }
    </style>
{% endblock %}

{% block content %}
<h3>Absent Trainee Roster</h3>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <b>Date:</b> {% now "l, F d, Y" %}
  </div>
  <div class="col-xs-12 col-sm-6">
    <b>House:</b> {{ user.trainee.house }}
  </div>
</div>

<hr class="visible-xs">

<form action="" method="post" role="form">
  {% csrf_token %}

  <div class="row hidden-xs" style="margin-top:10px; margin-bottom:5px">
    <div class="col-sm-4"><strong>Name</strong></div>
    <div class="col-sm-3"><strong>Reason</strong></div>
    <div class="col-sm-4"><strong>Comments</strong></div>
  </div>

  {{ formset.management_form }}
  {{ formset.non_field_errors }}
  {{ formset.non_form_errors }}
  {% for form in formset %}

    <div class="row entry" style="border-bottom:1px solid #e3e3e3; margin-top:15px">
      {{ form.id }}
      <div class="form-group col-xs-6 col-sm-4 col-md-4">{{ form.absentee.errors }}{{ form.absentee }}</div>
      <div class="form-group col-xs-5 col-sm-3 col-md-3">{{ form.reason.errors }}{{ form.reason }}</div>
      <div class="col-xs-1 visible-xs" style="padding:0px;"><a class="delete" href="#"><span class="glyphicon glyphicon-remove" style="margin-top:8px;"></span></a></div>
      <br class="visible-xs"><br class="visible-xs"> <!--This is a temporary hack to prevent the next div from overlapping the select boxes above it. It would be better to do this with Less.-->
      <div class="form-group col-xs-12 col-sm-4 col-md-4" style="padding-right: 15px;">{{ form.comments.error }}{{ form.comments }}</div>
      <div class="col-sm-1 hidden-xs" style="padding:0px;"><a class="delete" href="#"><span class="glyphicon glyphicon-remove" style="margin-top:8px;"></span></a></div>
    </div>

  {% endfor %}

  <div class="row" style="padding-left:15px; margin-top:10px">
    <a id="add" href="#">Add another trainee</a></p>
  </div>

  <div class="row" style="padding-left:15px;">
    <input type="submit" value="Submit" />
  </div>

</form> 
{% endblock %}
