{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block content %}

          <center><b>FTTA Meal Seating List</b></center>
            <div align="right"> From: {{twoWeekStartDate}} </div>
            <div align="right"> From: {{twoWeekEndDate}} </div>
                        
            <div class="col-xs-6 col-md-4">
            <table  class="table table-hover">
            <thead><tr><th>Name</th><th>Table Name</th></tr></thead>
            {% for entry in myList1 %}
                <tr><td>{{entry.0.0}}</td><td align="center">{{entry.0.1}}</tr>
            {% endfor %}
            </table>
            </div>

            
            <div class="col-xs-6 col-md-4">
            <table  class="table table-hover">
            <thead><tr><th>Name</th><th>Table Name</th></tr></thead>
            {% for entry in myList2 %}
                <tr><td>{{entry.0.0}}</td><td align="center">{{entry.0.1}}</tr>
            {% endfor %}
            </table>
            </div>

            <div class="col-xs-6 col-md-4">
            <table  class="table table-hover">
            <thead><tr><th>Name</th><th>Table Name</th></tr></thead>
            {% for entry in myList3 %}
                <tr><td>{{entry.0.0}}</td><td align="center">{{entry.0.1}}</tr>
            {% endfor %}
            </table>
            </div>
            
{% endblock %}




<!-- <h1>Tables</h1>
<ul>
{% for table in object_list %}
    <li>{{ table.seatedTrainees}}</li>
{% empty %}
    <li>No trainees yet.</li>
{% endfor %}
</ul>
 -->