{% extends "houses/base_houses.html" %}
{% load staticfiles %}

{% block tab1 %} class="active" {% endblock %}

{% block references %}
	<link rel="stylesheet" href="{% static "datatables/css/jquery.dataTables.css" %}" />
	<link rel="stylesheet" href="{% static "datatables/css/dataTables.bootstrap.css" %}" />

{% endblock %}

{% block houses_content %}

<div class="col-md-8">
    <h1>Bunk Assignment</h1>                      
    	{% for house in houses %} 
    	<h3>{{house}}</h3>
    	{% if house.trainee_set.all|length > 0 %}
	    	<table class="table" style="font-size: 14px; line-height: 1.42857143; background-color: rgb(255, 255, 255);">
	            <thead>
	                <tr>
	                    <th>Bunk #</th>
	                    <th>Name</th>
	                    <th>Submit</th>
	                </tr>
	            </thead>
	            <tbody>
	            	{% for room in house.room_set.all %}
	            	{% for bunk in room.bunk_set.all %}
	            	<form role="form" action="{% url 'houses:bunk_list' %}" method="post">
	            		{% csrf_token %}
	                <tr>
	                    <td>{{bunk.number}}</td>
	                    <td>
	                        <select class="form-control" name="select-trainee">
	                            <option value="{{bunk.pk}}-{{bunk.trainee.pk}}">{{bunk.trainee}}</option>
	                            {% for trainee in trainees %}
		                            {% if trainee != bunk.trainee %}
		                            	<option value="{{bunk.pk}}-{{trainee.pk}}">{{trainee}}</option>
		                           	{% endif %}
	                            {% endfor %}
	                        </select>
	                    </td>
	                    <td>
	                    	<button type="submit" class="btn">Submit</button>
	                    </td>
	                </tr>
	               	</form>
	                {% endfor %}
	                {% endfor %}
	            </tbody>
	        </table>
	    {% endif %}

    	{% endfor %}
</div>
<div class="col-md-4">
    <h3>Bunkless Trainees</h3>
    <ul>
        {% for trainee in trainees %}
            {% if trainee.current_term == 1 and trainee.bunk == empty %}
				<li><a href="#" data-toggle="modal" data-target="#modal1">
        			{{trainee}}
        		</a></li>
        	{% endif %}
        {% endfor %}
    </ul>
</div>
<div class="modal fade pg-show-modal" id="modal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>Body</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>




	{%comment%}
	<table class="table" id="house-table">
		<thead>
			<tr>
				<th> House </th>
				<th> Bunk # </th>
				<th> Position </th>
				<th> Gender </th>
				<th> Name </th>
				<th> Phone </th>
				<th> Mentor </th>
				<th> Term </th>
				<th> Vehicle </th>
				<th> TA </th>
				<th> Age </th>
				<th> Team </th>
				<th> Room Type </th>
				<th> Edit </th>
			</tr>
		</thead>
		<tbody>
			{% for bunk in bunks %}
				<tr>
					<td>{{bunk.room.house}}</td>
					<td>{{bunk.number}}</td>
					<td>{{bunk.position}}</td>
					<td>{{bunk.room.house.gender}}</td>
					<td>{{bunk.trainee}}</td>
					<td>{{bunk.trainee.account.phone}}</td>
					<td>{{bunk.trainee.mentor}}</td>
					<td>{{bunk.trainee.current_term}}</td>
					<td>{{bunk.trainee.vehicle}}</td>
					<td>{{bunk.trainee.TA}}</td>
					<td>{{bunk.trainee.account.age}}</td>
					<td>{{bunk.trainee.team}}</td>
					<td>{{bunk.room.type}}</td>
					<td>
						<form action="{% url 'houses:bunk_update' bunk.id %}" method="get">
							<button type="submit" class="btn btn-primary btn-sm">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
						</form>
					</td>
				</tr>
			{% endfor %}	
		</tbody>
	</table>
	{%endcomment%}

{% endblock %}

{% block scripts %}
	<script>
		$(document).ready(function(){
	    	$('#house-table').dataTable();
	    	$('#house-table').editableTableWidget();
		});
	</script>
	<script type="text/javascript" src="{% static "datatables/js/jquery.dataTables.js" %}"></script>
	<script type="text/javascript" src="{% static "datatables/js/dataTables.bootstrap.js" %}"></script>
{% endblock %}
