{% extends "houses/base_houses.html" %}
{% load staticfiles %}

{% block tab1 %} class="active" {% endblock %}

{% block references %}
	<link rel="stylesheet" href="{% static "datatables/css/jquery.dataTables.css" %}" />
	<link rel="stylesheet" href="{% static "datatables/css/dataTables.bootstrap.css" %}" />
{% endblock references %}

{% block houses_content %}
	<h1 id="bunk-header"> House Management </h1>

	<table class="display compact" id="house-table">
		<thead>
			<tr>
				<th> House </th>
				<th> Bunk # </th>
				<th> Position </th>
				<th> Gender </th>
				<th> Name </th>
				<th> Phone </th>
				<th> Mentor </th>
				<th> Term </th>
				<th> Vehicle </th>
				<th> Birth Date </th>
				<th> TA </th>
				<th> Age </th>
				<th> Team </th>
				<th> Room Type </th>
			</tr>
		</thead>
		<tbody>
			{% for house in houses %}
				{% for room in house.room_set.all %}
					{% for bunk in room.bunk_set.all %}
					<tr>
						<td>{{house}}</td>
						<td>{{bunk.number}}</td>
						<td>{{bunk.position}}</td>
						<td>{{house.gender}}</td>
						<td><input type="text" id="row-1-age" name="row-1-age" value="{{bunk.current_occupant}}"></td>
						<td>{{bunk.current_occupant.account.phone}}</td>
						<td><input type="text" id="row-1-age" name="row-1-age" value="{{bunk.current_occupant.mentor}}"></td>
						<td>{{bunk.current_occupant.current_term}}</td>
						<td>{{bunk.current_occupant.vehicle}}</td>
						<td>{{bunk.current_occupant.account.date_of_birth | date:'m/d/Y'}}</td>
						<td>{{bunk.current_occupant.TA}}</td>
						<td>{{bunk.current_occupant.account.age}}</td>
						<td>{{bunk.current_occupant.team}}</td>
						<td>{{room.type}}</td>
					</tr>
					{% endfor %}
				{% endfor %}
			{% endfor %}	
		</tbody>
	</table>
			
	<button id="bunk-submit-changes" class="btn btn-default"> Submit Changes </button>


{% endblock houses_content %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'houses/js/houses.js' %}"></script>
	<script type="text/javascript" src="{% static 'datatables/js/jquery.dataTables.js' %}"></script>
	<script type="text/javascript" src="{% static 'datatables/js/dataTables.bootstrap.js' %}"></script>
{% endblock scripts %}
