{% extends "base.html" %}

{% block content %}
    
    {% if request.user.trainingassistant %}

        <ul class="nav nav-tabs" role="tablist">
            <li {% block tab1 %}{%endblock%}><a href="{% url 'badges:badges_term' "Fa14"%}">Badges for Current Term</a></li>
            <li {% block tab2 %}{%endblock%}><a href="{% url 'badges:badges_list' %}">Badges List</a></li>
            <li {% block tab3 %}{%endblock%} class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Management <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'badges:badge_create' %}">Create Badge</a></li>
                    <!--<li class="divider"></li>-->
                    <li><a href="{% url 'badges:badges_batch' %}">Create Badge in Batches</a></li>
                    <!--<li class="divider"></li>-->
                </ul>
            </li>
        </ul>

    {% block badges_content %}{% endblock %}
    {% endif %}
{% endblock %}