{% extends "base.html" %}

{% block content %}
<h3> Badges </h3>
    <p> Welcome to the badges portal!</p>

        <ul class="nav nav-tabs" role="tablist">
            <li {% block tab1 %}{%endblock%}><a href="{% url 'badges:badges_term' "Fa14"%}">Current Term FTTA Trainees</a></li>
            <li {% block tab2 %}{%endblock%}><a href="{% url 'badges:badges_term_xb' "Fa14"%}">Current Term FTTA-XB Trainees</a></li>
            <li {% block tab3 %}{%endblock%}><a href="{% url 'badges:badges_staff' %}">Staffs</a></li>
            <li {% block tab5 %}{%endblock%} class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Creator Management <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'badges:badge_create' %}">Create Badge</a></li>
                    <!--<li class="divider"></li>-->
                    <li><a href="{% url 'badges:badges_batch' %}">Create Badge in Batches</a></li>
                    <!--/ulli class="divider"></li>-->
                </ul>
            </li>
            <li {% block tab6 %}{%endblock%} class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Printing Management <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'badges:badges_print_term_front' %}">Mass-Print Front Badge for Current Term</a></li>
                    <!--<li class="divider"></li>-->
                    <li><a href="{% url 'badges:badges_print_term_back' %}">Mass-Print Back Badge for Current Term</a></li>
                    <!--<li class="divider"></li>-->
                    <li><a href="{% url 'badges:badges_print_general_back' %}">Print 8 Back Badge</a></li>
                    <li><a href="{% url 'badges:badges_print_term_facebook' %}">Print Facebook for Current Term</a></li>
                    <li><a href="{% url 'badges:badges_print_shortterm' %}">Print 8 Short-Term Badges</a></li>
                    <li><a href="{% url 'badges:badges_print_usher' %}">Print 8 Usher Badges</a></li>
                    <li><a href="{% url 'badges:badges_print_office' %}">Print 8 Office Badges</a></li>
                    <li><a href="{% url 'badges:badges_print_temp' %}">Print Temporary Badges</a></li>
                    <li><a href="{% url 'badges:badges_print_visitor' %}">Print Visitor Badges</a></li>
                </ul>
            </li>
            <li {% block tab4 %}{%endblock%}><a href="{% url 'badges:badges_list' %}">All List</a></li>
        </ul>

    {% block badges_content %}{% endblock %}
{% endblock %}