<!DOCTYPE HTML PUBLIC >
<html>
<head>
	<title>Verse Sheet</title>
</head>

<body>

	{% for outline_pt in outline %}
		<p>
			<!--use css indents instead of this-->
			{% for i in ""|ljust:outline_pt.level %}
				&nbsp&nbsp&nbsp&nbsp
			{% endfor %}

			<b>{{ outline_pt.string }}</b>
			{% if forloop.first %}<br>{% endif %}

			{% for ref in outline_pt.refs %}
				{% if ref.string %}
					{% if not forloop.first %}
						<!--use css indents instead of this-->
						{% for i in ""|ljust:outline_pt.level %}
							&nbsp&nbsp&nbsp&nbsp
						{% endfor %}
					{% endif %}
					<b>{{ ref.string }}</b>

					{% if ref.repeat %}
						See {{ ref.repeat }}
					{% else %}
						{% for verse in ref.verses.values %}
							{{ verse }}
						{% endfor %}
						
					{% endif %}
					<br>
				{% endif %}
			{% endfor %}
		</p>
	{% endfor %}
</body>
</html>