{% extends "base.html" %}

{% load staticfiles %}
{% load exam_extras %}

{% block references %}
    <link rel="stylesheet" href="{% static "exams/css/exams.css" %}" />    
{% endblock %}

{% block title %}Exam Templates{% endblock %}


{% block content %}

<h1>Exam Templates</h1>

{% for exam_template in exam_templates %}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="btn-group pull-right">
            {% if user.trainingassistant %}
                <button type="button" class="btn btn-default">View statistics</button>
            {% elif user.trainee %}
                {% if exam_template.is_open and not taken|lookup:forloop.counter0 %} 
                <!-- TODO: or trainee is retaking exam -->
                    <a href="{% url 'exams:take_exam' exam_template.id %}">
                    <button type="button" class="btn btn-default">Take exam</button></a>
                {% endif %}
            {% endif %}

            {% if user.trainee.is_designated_grader or user.trainingassistant %}
                  <a href="{% url 'exams:single_exam_grades' exam_template.id %}">
                    <button type="button" class="btn btn-default">Enter scores</button></a>
                  <button type="button" class="btn btn-default">Generate make-up list</button>
            {% endif %}

        </div>
        <h3 class="panel-title">{{ exam_template }}</h3>
    </div>
    <div class="panel-body">
        <b>Opens:</b> {{ exam_template.opens_on }}<br />
        <b>Closes:</b> {{ exam_template.closes_on }}<br /><br />
        <span class="badge alert-success">{{ exam_template.training_class }}</span>
        {% if taken|lookup:forloop.counter0 %}<span class="badge alert-info">Taken</span>{% endif %}
        <span class="badge alert-warning">Cutoff at {{ exam_template.cutoff }}%</span>
    </div>
</div>
{% empty %}
<i>No exam templates to view.</i>
{% endfor %}




{% endblock %}

{% block scripts %}
{% endblock %}