{% extends "base.html" %}

{% load staticfiles %}
{% block references %}
    <link rel="stylesheet" href="{% static 'exams/css/exams.css' %}" />    
{% endblock %}

{% block media %}

    {{ block.super }}
    {{ form.media }}
    <link href="/static/css/select2-bootstrap.css" type="text/css" media="screen" rel="stylesheet">
    
{% endblock %}

{% block title %}Exam Grade Reports{% endblock %}


{% block content %}

<h1>Exam Grade Reports</h1>


<form action="" method="get">{% csrf_token %}
    {{ trainees }}
    <br /><br />
    <button type="button" data-toggle="modal" data-target="#trainee_select">Add Trainee Group</button>
    <button type="submit" value="Get report" class="btn btn-default">Get report</button>
</form>
<br />


{{ exams }}


{% include 'schedules/trainee_select_modal.html' %}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="btn-group pull-right">
            <a href="{% url 'exams:exam_template_list' %}">
                <button type="button" class="btn btn-default">Back</button></a>
        </div>
        <h3 class="panel-title">{{ exam }}</h3>
    </div>
    {% if user.trainee.is_designated_grader or user.trainingassistant %}
    <div class="panel-body">

    <h4>General</h4>

    <table class="table table-striped">
        <th>Trainee</th>
        <th>Exam Grade</th>

    </table>

    </div>
    {% endif %}
</div>



{% endblock %}

{% block scripts %}
{% endblock %}