{% extends "base.html" %}

{% load staticfiles %}
{% block references %}
    <link rel="stylesheet" href="{% static 'exams/css/exams.css' %}" />    
{% endblock %}

{% block title %}Exam Grade Reports{% endblock %}

{% block content %}

<h1>Exam Grade Reports</h1>


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="btn-group pull-right">
            <a href="{% url 'exams:exam_template_list' %}">
                <button type="button" class="btn btn-default">Back</button></a>
        </div>
        <h3 class="panel-title">{{ exam }}</h3>
    </div>
    {% if user.trainee.is_designated_grader or user.trainingassistant %}
    <div class="panel-body">

    <h4>General</h4>

    <table class="table table-striped">
        <th>Trainee</th>
        <th>Exam Grade</th>

    </table>

    </div>
    {% endif %}
</div>



{% endblock %}

{% block scripts %}
{% endblock %}