{% extends "base.html" %}

{% load staticfiles %}

{% block references %}
    <link rel="stylesheet" href="{% static "exams/css/exams.css" %}" />    
{% endblock %}

{% block title %}Exam Grades{% endblock %}

{% block content %}

<h1>Exam Grades</h1>

{% if user.trainee.is_designated_grader or user.trainingassistant %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default">Update grades and save</button>
                <a href="{% url 'exams:exam_template_list' %}">
                    <button type="button" class="btn btn-default">Back</button></a>
            </div>
            <h3 class="panel-title">{{ exam_template_name }}</h3>
        </div>
        <div class="panel-body">
        {% for grade in exam_grades %}

        {% empty %}
            <i>No exam grades to view.</i>
        {% endfor %}
        </div>
    </div>

{% else %}
<i>Sorry, you cannot view exam grades.</i>
{% endif %}



{% endblock %}

{% block scripts %}
{% endblock %}