{% extends "base.html" %}

{% load staticfiles %}
{% block references %}
    <link rel="stylesheet" href="{% static 'exams/css/exams.css' %}" />    
{% endblock %}

{% block title %}Take Exam{% endblock %}

{% block content %}

<h1>Taking Exam {{ exam }}</h1>

{% if user.trainee %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group pull-right">
                <a href="{% url 'exams:exam_template_list' %}">
                    <button type="button" class="btn btn-default">Back</button></a>
            </div>
            <h3 class="panel-title">{{ exam_template }}</h3>
        </div>
        <div class="panel-body">
        {% if exam_is_taken %}
        <i>Sorry, you have already taken this exam.</i>
        {% else %}

            <form action="" method="post">
                {% csrf_token %}
                <ol>
                    {% for question in exam_questions %}
                        <li>{{ question.body }}</li><br />
                        <textarea class="" cols="100" id="{{ question.id }}" name="response" placeholder="Type your response here." rows="10" title=""></textarea>
                    {% empty %}
                        <i>No exam questions to view.</i><br />
                    {% endfor %}
                </ol>
                <button type="submit" value="Submit" class="btn btn-default">Save</button>
            </form>
        {% endif %}

        </div>
    </div>
{% else %}
<i>Sorry, you cannot take the exam.</i>
{% endif %}



{% endblock %}

{% block scripts %}
{% endblock %}