{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'leaveslips/style.css' %}" />
    <h2>Group Leave Slip<br>
    <small>Submitted on {{ leaveslip.submitted }}</small>
    </h2>

    <table class="table">
		<tr><td>Type:</td>
            <td>{{ leaveslip.type }}</td></tr>
    	<tr><td>Status:</td>
            <td>{{ leaveslip.status }}</td></tr>
        <tr><td>Trainees:</td>
            <td>{{ leaveslip.trainee }}</td></tr>
        <tr>
        <tr><td>Description:</td>
            <td>{{ leaveslip.description }}</td></tr>
        <tr><td>Comments:</td>
            <td>{{ leaveslip.comments }}</td></tr>
        <tr>
            <td>Texted? </td>
            <td>{{ leaveslip.texted }}</td></tr>
        <tr>
            <td>Informed? </td>
            <td>{{ leaveslip.informed }}</td></tr>
    </table>	
{% endblock %}