{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block references %}
<link rel="stylesheet" type="text/css" href="{% static 'leaveslips/style.css' %}" />
{% endblock %}

{% block content %}

    <h2>New Individual Leave Slip</h2>
    <div class="leaveslip-form">
	    <form action="" method="post">{% csrf_token %}
	        {{ form.as_p }}

	        <div class="mealout-form">
	        	{{ mealout_form.as_p }}   
	    	</div>
	    	<div class="nightout-form">
		        {{ nightout_form.as_p }}     
		    </div>  

	        {% buttons %}
	            <button type="submit" class="btn btn-primary">
	                Submit
	            </button>
	        {% endbuttons %}
	    </form>
	</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'leaveslips/scripts.js' %}"></script>

{% endblock %}