{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block references %}
<link rel="stylesheet" type="text/css" href="{% static 'leaveslips/style.css' %}" />
{% endblock %}


{% block content %}

    <h2>New Individual Leave Slip</h2>
    <div class="leaveslip-form">
	    <form action="" method="post">{% csrf_token %}
	        {% bootstrap_form form %}        
	        {% buttons %}
	            <button type="submit" class="btn btn-primary">
	                Submit
	            </button>
	        {% endbuttons %}
	    </form>
	</div>

{% endblock %}
{% block scripts %}

<script type="text/javascript">

console.log('hello');

</script>

{% endblock %}