{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<h1>TA Leaveslip List</h1>

<ul class="list-group">   

  {% for leaveslip in leaveslips %}
    <li href="{{leaveslip.get_absolute_url}}" class="list-group-item">

      <span class="pull-right actionbar">
        <a href="{% url 'leaveslips:modify-status' classname=leaveslip.classname status='A' id=leaveslip.id %}">
          <button class="btn btn-success approve" title="Approve"><span class="glyphicon glyphicon-ok"></span></button>
        </a>
         <a href="{% url 'leaveslips:modify-status' leaveslip.classname 'D' leaveslip.id %}">
          <button class="btn btn-danger deny" title="Deny"><span class="glyphicon glyphicon-remove"></span></button>
          </a>
         <a href="{% url 'leaveslips:modify-status' leaveslip.classname 'F' leaveslip.id %}">
          <button class="btn btn-info fellowship" title="Mark for Fellowship"><span class="glyphicon glyphicon-exclamation-sign"></span></button>
        </a>
         <a href="#">
          <button class="btn btn-default comment" title="Comment"><span class="glyphicon glyphicon-comment"></span></button>
        </a>
      </span>

      <h4 class="list-group-item-heading">
        {{leaveslip.get_type_display}}
        <small>
          <strong>{% if leaveslip.events %}
           ({{leaveslip.get_start|date:"D, m/d/y"}})
          {% elif leaveslip.start %}
           ({{leaveslip.start|date:"D, m/d/y"}})
          {% endif %}</strong>
          — submitted by {{leaveslip.trainee}} on {{leaveslip.submitted}}
        </small>
      </h4>
         
      <p class="list-group-item-text">

      <p><big>{{ leaveslip.description }}</big></p>
      {% if leaveslip.comments|length > 0 %}
        <span class="glyphicon glyphicon-comment"></span> &nbsp; {{leaveslip.comments}}
      {% endif %}

      <ul class="list-inline small">
        <li><span class="label label-default">{{leaveslip.get_status_display}}</span> </li>
        <li><strong>TA:</strong> {{leaveslip.TA}}</li>
        {% if leaveslip.texted %}<li><strong>Texted:</strong>  <span class="glyphicon glyphicon-ok"></span></li> {% endif %}
        {% if leaveslip.informed %}<li><strong>Informed:</strong>  <span class="glyphicon glyphicon-ok"></span></li> {% endif %}
        {%if leaveslip.trainees.exists %}
          <li><strong>Trainees ({{leaveslip.trainees.count}}):</strong>
          {% for trainee in leaveslip.trainees.all %}
            {{trainee}},
          {% endfor %}
          </li>
        {% endif %}
      </ul>

      </p>
    </li>
  {% endfor %}
</ul>

  <script type="text/javascript">
    $(document).on('click', ".approve", function() {
      //console.log('clicked');
      var slipId = +$(this).val();
      console.log(slipId)
      var csrf_token = "{% csrf_token %}";

    });

    $(document).on('click', ".deny", function() {
      //console.log('clicked');
      var slipId = +$(this).val();
      console.log(slipId)
      var csrf_token = "{% csrf_token %}";
    });
  </script>

{% endblock %}