{% extends "badges/base_badges.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block tab2 %}class="active"{% endblock %}

{% block references %}
    <link rel="stylesheet" href="{% static "datatables/css/jquery.dataTables.css" %}" />
    <link rel="stylesheet" href="{% static "datatables/css/jquery-ui.css" %}" />
    <link rel="stylesheet" href="{% static "datatables/css/bootstrap.css" %}" />
    <link rel="stylesheet" href="{% static "datatables/css/dataTables.bootstrap.css" %}" />
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('#badges-table').dataTable( {
                dom: 'T<"clear">lfrtip',
                tableTools: {
                "sRowSelect": "multi",
                "aButtons": []
                }
            });
        });
    </script>
    <script type="text/javascript" src="{% static "datatables/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "datatables/js/jquery.dataTables.js" %}"></script>
    <script type="text/javascript" src="{% static "datatables/js/dataTables.bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "datatables/js/dataTables.tableTools.js" %}"></script>
{% endblock %}

{% block badges_content %}
    <BR>&nbsp;<BR>
    <form action="{% url 'badges:badges_print' %}" method="post"> 
    {% csrf_token %}
        <table class="table table-bordered display compact cell-border" id="badges-table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Avatar</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Term</th>
                    <th>Locality</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Select to Print</th>
                </tr>
            </thead>

            <tbody>
                {% for badge in object_list %} 
                    <tr>
                        <th><img src='/{{badge.avatar}}'/></th>
                        <th>{{badge.type}}</th>
                        <th>{{badge.firstname}} {{badge.middlename}} {{badge.lastname}}</th>
                        <th>{{badge.term_created}}</th>
                        <th>{{badge.locality}}</th>
                        <th><a href="{% url 'badges:badge_detail' badge.pk %}" class="list-group-item-active">Edit</th>
                        <th><a href="{% url 'badges:badge_delete' badge.pk %}" class="list-group-item-active">Delete</th>
                        <th>
                            <ul>
                                <input type="checkbox" name="choice" id={{ badge.pk }} value="{{ badge.pk }}" />
                                <label for="choice{{ badge.pk }}">Print</label><br />
                            </ul>
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <input type="submit" value="Print" />
    </form>

{% endblock %}
