{% extends "badges/base_badges.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block tab4 %}class="active"{% endblock %}

{% block references %}
    <link rel="stylesheet" href="{% static "datatables/css/jquery.dataTables.css" %}" />
    <link rel="stylesheet" href="{% static "datatables/css/jquery-ui.css" %}" />
    <link rel="stylesheet" href="{% static "datatables/css/bootstrap.css" %}" />
    <link rel="stylesheet" href="{% static "datatables/css/dataTables.bootstrap.css" %}" />
{% endblock %}

{% block scripts %}
    <script>
        var table;
        $(document).ready(function(){
            table = $('#badges-table').dataTable( {
                dom: 'T<"clear">lfrtip',
                tableTools: {
                "sRowSelect": "multi",
                "aButtons": []
                }
            });
        });
    </script>
    <script type="text/javascript" src="{% static "datatables/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "datatables/js/jquery.dataTables.js" %}"></script>
    <script type="text/javascript" src="{% static "datatables/js/dataTables.bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "datatables/js/dataTables.tableTools.js" %}"></script>
{% endblock %}

{% block badges_content %}
    <BR>&nbsp;<BR>
    <form id="table" role="form" action="{% url 'badges:badges_print_term_front' %}" method="post"> 
    {% csrf_token %}
        <table class="table table-bordered display compact cell-border" id="badges-table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Avatar</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Term</th>
                    <th>Locality</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Select to Print</th>
                </tr>
            </thead>

            <tbody>
                {% for badge in object_list %} 
                    <tr>
                        <th><img src='/{{badge.avatar}}'/></th>
                        <th>{{badge.type}}</th>
                        <th>{{badge.firstname}} {{badge.middlename}} {{badge.lastname}}</th>
                        <th>{{badge.gender}}</th>
                        <th>{{badge.term_created}}</th>
                        <th>{{badge.locality}}</th>
                        <th><a href="{% url 'badges:badge_detail' badge.pk %}" class="list-group-item-active">Edit</th>
                        <th><a href="{% url 'badges:badge_delete' badge.pk %}" class="list-group-item-active">Delete</th>
                        <th>
                            <ul>
                                <input id="{{ badge.pk }}" type="checkbox" name="choice" value="{{ badge.pk }}" />
                                <label for="choice{{ badge.pk }}">Print</label><br />
                            </ul>
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    <button onclick="printBadges()">Print{{tester}}</button>
<script>
function printBadges() {
    var badge_print_list = [];
    var url = document.getElementById("table").action;
    var inputList = table.$("input");

    for(var i = 0; i<inputList.length; i++) {
        if(inputList[i].checked)
            badge_print_list.push(inputList[i].value);
    }

    post(url, {'choice': badge_print_list, csrfmiddlewaretoken:'{{csrf_token}}'});
}
function post(path, params) {
    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            if( params[key].constructor === Array ) {
                for( var key2 in params[key] ) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key][key2]);

                    form.appendChild(hiddenField);
                }
            }
            else {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
            }
         }
    }

    document.body.appendChild(form);
    form.submit();
}

</script>

{% endblock %}
