{% extends "base.html" %}

{% block content %}
    
    <h1>Badges</h1>
    
    <table>
        <tr>
            <td>Picture</td>
            <td>Type</td>
            <td>Name</td>
            <td>Locality</td>
            <td></td>
            <td></td>
        </tr>
    {% for badge in object_list %} 
        <tr>

           <td><img src='{{ badge.original.url }}'/></td>
           <td>{{badge.type}}</td>
           <td>{{badge.firstname}} {{badge.middlename}} {{badge.lastname}}</td>
           <td>{{badge.locality}}</td>
           <td></td>
           <td></td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}