{% load staticfiles %}
{% load bootstrap3 %}

<head style="margin-bottom:100px">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="all">
</head>

{% block badges_content %}

<!-- Hallelujah Jesus is Lord! He has been resurrected and ascended! -->
<body> 
    <div class="container-fluid">
        <h1 align="center"> {{current_term}} </h1>
        <h1 align="center">First-Term Brothers</h1>
        <hr style="border-top: dotted 1px">
        <div class="row">
            {% for badge in first_term_brothers %}

            <div class="col-lg-2 col-sm-2 col-xs-2">
                    <img class="badge-pic" src="/media/{{badge.original}}" style="height:80px;">
                <div class="firstpictitle">
                    <p style="line-height:1">{{badge.firstname}}<br>{{badge.lastname}}<br><b>{{badge.locality}}</b></p>
                </div>
            </div>
                {% if forloop.counter|divisibleby:"6" %}
                <p style="visibility: hidden; line-height:0">j</p> <!--Hack right here --> 
                    <hr style="border-top: dotted 1px">
                {% endif %}

            {% endfor %}
        </div>
        <h1 align="center" style="page-break-before: always"> {{current_term}} </h1>
        <h1 align="center">First-Term Sisters</h1>
        <hr style="border-top: dotted 1px">
        <div class="row">
            {% for badge in first_term_sisters %}

            <div class="col-lg-2 col-sm-2 col-xs-2">
                    <img class="badge-pic" src="/media/{{badge.original}}" style="height:80px">
                <div class="firstpictitle">
                    <p style="line-height:1">{{badge.firstname}}<br>{{badge.lastname}}<br><b>{{badge.locality}}</b></p>
                </div>
            </div>
                {% if forloop.counter|divisibleby:"6" %}
                <p style="visibility: hidden; line-height:0">j</p> <!--Hack right here --> 
                    <hr style="border-top: dotted 1px">
                {% endif %}

            {% endfor %}
        </div>
        <h1 align="center" style="page-break-before: always"> {{current_term}} </h1>
        <h1 align="center">Second-Term Brothers</h1>
        <hr style="border-top: dotted 1px">
        <div class="row">
            {% for badge in second_term_brothers %}

            <div class="col-lg-2 col-sm-2 col-xs-2">
                    <img class="badge-pic" src="/media/{{badge.original}}" style="height:80px">
                <div class="firstpictitle">
                    <p style="line-height:1">{{badge.firstname}}<br>{{badge.lastname}}<br><b>{{badge.locality}}</b></p>
                </div>
            </div>
                {% if forloop.counter|divisibleby:"6" %}
                <p style="visibility: hidden; line-height:0">j</p> <!--Hack right here --> 
                    <hr style="border-top: dotted 1px">
                {% endif %}

            {% endfor %}
        </div>
        <h1 align="center" style="page-break-before: always"> {{current_term}} </h1>
        <h1 align="center">Second-Term Sisters</h1>
        <hr style="border-top: dotted 1px">
        <div class="row">
            {% for badge in second_term_sisters %}

            <div class="col-lg-2 col-sm-2 col-xs-2">
                    <img class="badge-pic" src="/media/{{badge.original}}" style="height:80px">
                <div class="firstpictitle">
                    <p style="line-height:1">{{badge.firstname}}<br>{{badge.lastname}}<br><b>{{badge.locality}}</b></p>
                </div>
            </div>
                {% if forloop.counter|divisibleby:"6" %}
                <p style="visibility: hidden; line-height:0">j</p> <!--Hack right here --> 
                    <hr style="border-top: dotted 1px">
                {% endif %}

            {% endfor %}
        </div>

        <h1 align="center" style="page-break-before: always"> {{current_term}} </h1>
        <h1 align="center">Third-Term Brothers</h1>
        <hr style="border-top: dotted 1px">
        <div class="row">
            {% for badge in third_term_brothers %}

            <div class="col-lg-2 col-sm-2 col-xs-2">
                    <img class="badge-pic" src="/media/{{badge.original}}" style="height:80px">
                <div class="firstpictitle">
                    <p style="line-height:1">{{badge.firstname}}<br>{{badge.lastname}}<br><b>{{badge.locality}}</b></p>
                </div>
            </div>
                {% if forloop.counter|divisibleby:"6" %}
                <p style="visibility: hidden; line-height:0">j</p> <!--Hack right here --> 
                    <hr style="border-top: dotted 1px">
                {% endif %}

            {% endfor %}
        </div>

        <h1 align="center" style="page-break-before: always"> {{current_term}} </h1>
        <h1 align="center">Third-Term Sisters</h1>
        <hr style="border-top: dotted 1px">
        <div class="row">
            {% for badge in third_term_sisters %}

            <div class="col-lg-2 col-sm-2 col-xs-2">
                    <img class="badge-pic" src="/media/{{badge.original}}" style="height:80px">
                <div class="firstpictitle">
                    <p style="line-height:1">{{badge.firstname}}<br>{{badge.lastname}}<br><b>{{badge.locality}}</b></p>
                </div>
            </div>
                {% if forloop.counter|divisibleby:"6" %}
                <p style="visibility: hidden; line-height:0">j</p> <!--Hack right here --> 
                    <hr style="border-top: dotted 1px">
                {% endif %}

            {% endfor %}
        </div>
        
    </div>
    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>

</body>

{% endblock %}
