{% extends "badges/base_badges.html" %}

{% load bootstrap3 %}

{% block tab1 %}class="active"{% endblock %}

{% block badge_content %}
    
    <h1>Badges</h1>
    
    <table>
        <tr>
            <td>Picture</td>
            <td>Type</td>
            <td>Name</td>
            <td>Locality</td>
            <td></td>
            <td></td>
        </tr>
    {% for badge in object_list %} 
        <tr>

           <td><img src='{{ badge.get_thumb }}'/></td>
           <td>{{badge.type}}</td>
           <td>{{badge.firstname}} {{badge.middlename}} {{badge.lastname}}</td>
           <td>{{badge.locality}}</td>
           <td></td>
           <td></td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}