{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block references %}
<link rel="stylesheet" type="text/css" href="{% static 'leaveslips/style.css' %}" />
{% endblock %}

{% block content %}

<script type="text/javascript">
function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }	
	
function post(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
         }
    }
    document.body.appendChild(form);
    form.submit();
}

function modify_boxes(classname){
	var x = document.getElementsByClassName(classname)[0];
    x.setAttribute("checked", "true");
} 
var first_year_progress = {{first_year_progress}};
var second_year_progress = {{second_year_progress}};
function toggleCheckbox(classname, id, year) {
	//document.getElementById("first-year-prog").style.width = "{{first_year_progress}}%";
	//document.getElementById("first-year-prog").style.width = "3%";
	//var test = request.session.get('name1');
	
	if (document.getElementsByClassName(classname)[0].checked == true ){
	//window.alert("yea Jesus");
	//$("#bible_track_form").submit();
	//xmlhttp=new XMLHttpRequest();
	//xmlhttp.open("POST", "{% url 'bible_track:index' %}", true);
	//xmlhttp.send("book="+id);
	//xmlhttp.send();
	//post("{% url 'bible_track:index' %}", {'book': id});
	//<input type="checkbox" onchange="toggleCheckbox({{choice.id}})" name="book" id="{{ choice.id }}" value="{{ choice.id }}" />
		$.ajax({
			type:"POST",
			url: "{% url 'bible_track:index' %}",
			data: {
					'book':id,
					'year': year,
					'checked': true,
					csrfmiddlewaretoken: getCookie('csrftoken')
				  },
			success: function(data){
				//$('#message').html("<h4>BIBLE SUPER SAVED : {{first_year_progress}}" +data+"</h4>");
				if(year==1) {
					document.getElementById("first-year-prog").style.width = data+"%";
					document.getElementById("first-year-prog").innerHTML= data+"%";
					document.getElementById("first-year-prog").setAttribute("aria-valuenow", data);
					//document.getElementById("first-year-prog").style.display = 'none';
				    //document.getElementById("first-year-prog").style.display = 'block';
				} else if(year==2) {
					document.getElementById("second-year-prog").style.width = data+"%";
					document.getElementById("second-year-prog").innerHTML= data+"%";
					document.getElementById("second-year-prog").setAttribute("aria-valuenow", data);
					//document.getElementById("second-year-prog").style.display = 'none';
				    //document.getElementById("second-year-prog").style.display = 'block';	
				}
			}
		});		
    } else {
	  $.ajax({
		type:"POST",
		url: "{% url 'bible_track:index' %}",
		data: {
				'book':id,
				'year': year,
				'checked': false,
				csrfmiddlewaretoken: getCookie('csrftoken')
			  },
		success: function(data){
			//$('#message').html("<h4>BIBLE SUPER DELETED: {{first_year_progress}}</h4>");
			if(year==1) {
				document.getElementById("first-year-prog").style.width = data+"%";
				document.getElementById("first-year-prog").innerHTML= data+"%";
				document.getElementById("first-year-prog").setAttribute("aria-valuenow", data);
				//document.getElementById("first-year-prog").style.display = 'none';
				//document.getElementById("first-year-prog").style.display = 'block';
			} else if(year==2) {
				document.getElementById("second-year-prog").style.width = data+"%";
				document.getElementById("second-year-prog").innerHTML= data+"%";
				document.getElementById("second-year-prog").setAttribute("aria-valuenow", data);
				//document.getElementById("second-year-prog").style.display = 'none';
				//document.getElementById("second-year-prog").style.display = 'block';
			}
		}
	});	
		
	}
		
} 

function toggleYear() {
	var isFirstTabActive = document.getElementById("first-year-tab").className!="null";
	if( isFirstTabActive ) {
		console.log("YEA JESUUS1");
		document.getElementById("second-year-tab").className = "active";
		//document.getElementById("second-year-tab").style.fontSize="xx-large";
		document.getElementById("first-year-tab").onclick=toggleYear;
		document.getElementById("first-year-bible-reading").style.display = "none";
		
		document.getElementById("first-year-tab").className = null;
		//document.getElementById("first-year-tab").style.fontSize="medium";
		document.getElementById("second-year-tab").onclick=null;
		document.getElementById("second-year-bible-reading").style.display = "block";				
	} else {
		console.log("YEA JESUUS2    " + document.getElementById("first-year-tab").className);
		document.getElementById("first-year-tab").className = "active";
		//document.getElementById("first-year-tab").style.fontSize="xx-large";
		document.getElementById("second-year-tab").onclick=toggleYear;
		document.getElementById("second-year-bible-reading").style.display = "none";
		
		document.getElementById("second-year-tab").className = null;
		//document.getElementById("second-year-tab").style.fontSize="medium";
		document.getElementById("first-year-tab").onclick=null;
		document.getElementById("first-year-bible-reading").style.display = "block";			
	}
	return true;
}

function isFirstYearCompleted(){
	return "66"=={{first_year_is_complete}};
}

$( document ).ready(function() {
	//var activeYear = {{year}};
	var activeYear = 2;

    if( activeYear == 1 ) {
		document.getElementById("first-year-tab").className = "active";
		document.getElementById("second-year-tab").style.display = "none";
		document.getElementById("second-year-bible-reading").style.display = "none";
		//document.getElementById("first-year-tab").style.fontSize="xx-large";
	} else {
		if( isFirstYearCompleted() ) {
			document.getElementById("first-year-tab").className = null;
			document.getElementById("second-year-tab").className = "active";
			//document.getElementById("second-year-tab").style.fontSize="xx-large";
			document.getElementById("first-year-tab").onclick=toggleYear;
			//document.getElementById("first-year-tab").style.fontSize="medium";
			document.getElementById("first-year-bible-reading").style.display = "none";
		} else {
			document.getElementById("first-year-tab").className = "active";
			//document.getElementById("first-year-tab").style.fontSize="xx-large";
			document.getElementById("second-year-tab").onclick=toggleYear;
			//document.getElementById("second-year-tab").style.fontSize="medium";
			document.getElementById("second-year-bible-reading").style.display = "none";
		}
	}
});

</script>

<ul class="nav nav-pills">
  <li id="first-year-tab"  style="font-size:28px;" role="presentation"><a>First Year</a></li>
  <li id="second-year-tab" style="font-size:28px;" role="presentation"><a>Second Year</a></li>
</ul>
<!--<span style="font-size:36px">First Year</span><span style="padding-left:15px;font-size:12px">Second Year</span>-->

<!--<h1>First Year</h1>
<h5 style="color:gray">(Second Year)</h5>-->

<hr>

<div id="first-year-bible-reading" class="bible-reading" style="padding-left:15px;display:block; overflow: hidden;">
	<div class="progress" style="max-width:500px;">
  <div id="first-year-prog" class="progress-bar" role="progressbar" aria-valuenow="{{first_year_progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{first_year_progress}}%;">{{first_year_progress}}%</div>
 </div>
	<div class = "old-testament" style="width:300px; float:left">
	<h4>Old Testament {{ current_time }}</h4>
	{% for choice in latest_question_list|slice:":39" %}
		<input class="first-year{{choice.id}}" type="checkbox" onchange="toggleCheckbox('first-year{{choice.id}}', {{choice.id}}, 1)" name="book" id="{{ choice.id }}" value="{{ choice.id }}" />
		<label style="font-weight: normal" for="choice{{ forloop.counter }}">{{ choice.toString }}</label><br />
		<script>
          //modify_boxes(true,{{choice.id}});
        </script>
	{% endfor %}
	</div>
	<div class = "new-testament" style="width:300px; float:left">
	<h4>New Testament</h4>
	{% for choice in latest_question_list|slice:"39:" %}
		<input class="first-year{{choice.id}}" type="checkbox" onchange="toggleCheckbox('first-year{{choice.id}}', {{choice.id}}, 1)" name="book" id="{{ choice.id }}" value="{{ choice.id }}" />
		<label style="font-weight: normal" for="choice{{ forloop.counter }}"> {{ choice.toString }} </label><br />
	{% endfor %}
	</div>
<div id="message" style="float:left"></div>
</div>
<!-- Checking First-year boxes -->
{% for checked in first_year_checked_list %}
	<script>
		modify_boxes("first-year{{checked.book.id}}");
    </script>
{% endfor %}

<!-- SECOND YEAR BIBLE READING -->
<div id="second-year-bible-reading" class="bible-reading" style="padding-left:15px;display:block">
	<div class="progress"  style="max-width:500px;">
  <div id="second-year-prog" class="progress-bar" role="progressbar" aria-valuenow="{{second_year_progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{second_year_progress}}%;">{{second_year_progress}}%</div>
 </div>
	<div class = "new-testament" style="width:300px; float:left">
	<h4>New Testament</h4>
	{% for choice in latest_question_list|slice:"39:" %}
		<input class="second-year{{choice.id}}" type="checkbox" onchange="toggleCheckbox('second-year{{choice.id}}', {{choice.id}}, 2)" name="book" id="{{ choice.id }}" value="{{ choice.id }}" />
		<label style="font-weight: normal" for="choice{{ forloop.counter }}">{{ choice.toString }}</label><br />
	{% endfor %}
	</div>
	<div id="message" style="float:left"></div>
</div>

<!-- Checking Second-year boxes -->
{% for checked in second_year_checked_list %}
	<script>
		modify_boxes("second-year{{checked.book.id}}");
    </script>
{% endfor %}



{% endblock %}
