.present {
    background-color: #cccccc;
    background-color: #FFFFFF;
    border: 1px solid #8e8e8e;
}

.absent {
    background-color: #d9534f;
    border: 1px solid #d43f3a;
}

.tardy, .uniform, .left-class {
    background-color: #f0ad4e;
    border: 1px solid #eea236;
}

.approved {
    background-color: #cccccc;
    background-color: #FFFFFF;
    border: 1px solid #8e8e8e;
}

.pending, .fellowship {
    background-image: url('../images/stripe.png');
    background-repeat: repeat;
}

.denied {
    background-color: red;
}

/* Leave slip styles */

#submit-leaveslip textarea {
	height: 80px;
}

#leaveslip-alert {
	display: none;
	background-color: #fbeed5;
	border: 1px solid #C5BCAD;
}

button {
	margin-right: 10px;
}

.selected-event {
    opacity: 1.0;
    border: 2px solid #4B4B4B;
}

.slip-event-status {
    font-style: italic;
}