{% extends "base.html" %}

{% block content %}
    
    {% if request.user.trainingassistant %}

        <ul class="nav nav-tabs" role="tablist">
            <li {% block tab1 %}{%endblock%}><a href="{% url 'houses:list' %}">House Management</a></li>
            <li {% block tab2 %}{%endblock%}><a href="#">Bunk Tools</a></li>
            <li {% block tab3 %}{%endblock%}><a href="#">House Coordinators</a></li>
            <li {% block tab4 %}{%endblock%} class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action 1</a></li>
                    <li><a href="#">Action 2</a></li>
                    <li><a href="#">Action 3</a></li>
                    <!--<li class="divider"></li>-->
                </ul>
            </li>
        </ul>
    {% endif %}

    {% block houses_content %}{% endblock %}

{% endblock %}